src/flows/Aggiornamento_Amount_su_Residuo_quando_un_Billing_Items_Viene_Eliminato.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assegna_Valori_per_Aggiornare_Forfait</name>
        <label>Assegna Valori per Aggiornare Residuo Forfait</label>
        <locationX>1150</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ValoreBillingItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Billing_Item_Forfait.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Billing_Item_Forfait</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Valori_per_Aggiornare_Residuo</name>
        <label>Assegna Valori per Aggiornare Residuo</label>
        <locationX>490</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>ValoreBillingItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UltimaDataBillingItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items.Billing_expected_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_dei_Billing_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Valori_Residuo_senza_Billing_Items</name>
        <label>Assegna Valori Residuo senza Billing Items</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Residual_Capacity_dell_Opportunit.Billing_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Order_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Residual_Capacity_dell_Opportunit.Billing_expected_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Opportunity__r.Order_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Residuo_senza_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegnazione_Valori_Residual</name>
        <label>Assegnazione Valori Residual</label>
        <locationX>402</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Residual_Capacity_dell_Opportunit.Billing_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DifferenzaAmountEdItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Residual_Capacity_dell_Opportunit.Billing_expected_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValoreDataScadenzaPerResidual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Residual</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Ordina_Raccolta_Billing_Items</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordina Raccolta Billing Items</label>
        <locationX>402</locationX>
        <locationY>827</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Ottieni_Billing_Items_Correlati</collectionReference>
        <connector>
            <targetReference>Loop_dei_Billing_Items</targetReference>
        </connector>
        <sortOptions>
            <sortField>Billing_expected_date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Ordina_Raccolta_Billing_Items_Forfait</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordina Raccolta Billing Items Forfait</label>
        <locationX>1062</locationX>
        <locationY>719</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Ottieni_Billing_Items_Correlati_Forfait</collectionReference>
        <connector>
            <targetReference>Loop_Billing_Item_Forfait</targetReference>
        </connector>
        <sortOptions>
            <sortField>Billing_expected_date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Controllo_Stato_Billing_Item</name>
        <label>Controllo Stato Billing Item</label>
        <locationX>1001</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Blocca_Operazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Idoneo</defaultConnectorLabel>
        <rules>
            <name>Idoneo_per_Eliminazione</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To be approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not to be invoiced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Controllo_Tipo_di_Opportunit</targetReference>
            </connector>
            <label>Idoneo per Eliminazione</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_su_Numero_Billing_Items</name>
        <label>Controllo su Numero Billing Items</label>
        <locationX>226</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Ordina_Raccolta_Billing_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Nessun_Billing_Items_Residuo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Items_Correlati</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Valori_Residuo_senza_Billing_Items</targetReference>
            </connector>
            <label>Nessun Billing Items Residuo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_su_Numero_Billing_Items_Forfait</name>
        <label>Controllo su Numero Billing Items Forfait</label>
        <locationX>864</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Ordina_Raccolta_Billing_Items_Forfait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Nessun_Billing_Items_Residuo_per_Forfait</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Items_Correlati_Forfait</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Opportunit_senza_Items_Forfait</targetReference>
            </connector>
            <label>Nessun Billing Items Residuo per Forfait</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Tipo_di_Opportunit</name>
        <label>Controllo Tipo di Opportunità</label>
        <locationX>545</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Ottieni_Billing_Items_Correlati_Forfait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Forfait</defaultConnectorLabel>
        <rules>
            <name>T_M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T&amp;M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Residual_Capacity_dell_Opportunit</targetReference>
            </connector>
            <label>T&amp;M</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valuta_Totale_Billing_Item_Forfait</name>
        <label>Valuta Totale Billing Item Forfait</label>
        <locationX>1062</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Opportunit_Correlata_Forfait_Aperta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Diverso da Ammontare Ordine</defaultConnectorLabel>
        <rules>
            <name>Uguale_ad_Ammontare_Ordine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ValoreBillingItems</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Opportunit_Correlata_Forfait_Chiusa</targetReference>
            </connector>
            <label>Uguale ad Ammontare Ordine</label>
        </rules>
    </decisions>
    <formulas>
        <name>DifferenzaAmountEdItems</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Opportunity__r.Order_Amount__c} - {!ValoreBillingItems}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ValoreDataScadenzaPerResidual</name>
        <dataType>Date</dataType>
        <expression>{!UltimaDataBillingItems} + 30</expression>
    </formulas>
    <interviewLabel>Aggiornamento Amount su Residuo quando un Billing Items Viene Eliminato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiornamento Amount su Residuo quando un Billing Items Viene Eliminato</label>
    <loops>
        <name>Loop_Billing_Item_Forfait</name>
        <label>Loop Billing Item Forfait</label>
        <locationX>1062</locationX>
        <locationY>827</locationY>
        <collectionReference>Ottieni_Billing_Items_Correlati_Forfait</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assegna_Valori_per_Aggiornare_Forfait</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Valuta_Totale_Billing_Item_Forfait</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_dei_Billing_Items</name>
        <label>Loop dei Billing Items</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <collectionReference>Ottieni_Billing_Items_Correlati</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assegna_Valori_per_Aggiornare_Residuo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assegnazione_Valori_Residual</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Ottieni_Billing_Items_Correlati</name>
        <label>Ottieni Billing Items Correlati</label>
        <locationX>226</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Controllo_su_Numero_Billing_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Residual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not to be invoiced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Billing_Items_Correlati_Forfait</name>
        <label>Ottieni Billing Items Correlati Forfait</label>
        <locationX>864</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Controllo_su_Numero_Billing_Items_Forfait</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not to be invoiced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Residual_Capacity_dell_Opportunit</name>
        <label>Ottieni Residual Capacity dell&apos;Opportunità</label>
        <locationX>226</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_Billing_Items_Correlati</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Residual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Opportunit_Correlata</name>
        <label>Aggiorna Opportunità Correlata</label>
        <locationX>402</locationX>
        <locationY>1451</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Opportunit_Correlata_Forfait_Aperta</name>
        <label>Aggiorna Opportunità Correlata Forfait Aperta</label>
        <locationX>1194</locationX>
        <locationY>1235</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Opportunit_Correlata_Forfait_Chiusa</name>
        <label>Aggiorna Opportunità Correlata Forfait Chiusa</label>
        <locationX>930</locationX>
        <locationY>1235</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Opportunit_senza_Items</name>
        <label>Aggiorna Opportunità senza Items</label>
        <locationX>50</locationX>
        <locationY>1043</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Opportunit_senza_Items_Forfait</name>
        <label>Aggiorna Opportunità senza Items Forfait</label>
        <locationX>666</locationX>
        <locationY>719</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Residual</name>
        <label>Aggiorna Residual</label>
        <locationX>402</locationX>
        <locationY>1343</locationY>
        <connector>
            <targetReference>Aggiorna_Opportunit_Correlata</targetReference>
        </connector>
        <inputReference>Ottieni_Residual_Capacity_dell_Opportunit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Residuo_senza_Items</name>
        <label>Aggiorna Residuo senza Items</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Aggiorna_Opportunit_senza_Items</targetReference>
        </connector>
        <inputReference>Ottieni_Residual_Capacity_dell_Opportunit</inputReference>
    </recordUpdates>
    <start>
        <locationX>875</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Controllo_Stato_Billing_Item</targetReference>
        </connector>
        <object>Billing_Item__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UltimaDataBillingItems</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValoreBillingItems</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
