src/flows/Aggionra_Ammontare_su_Residuo_al_cambio_dell_ammontare_su_Opportunit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assegna_Valore_Ammontare_Forfait</name>
        <label>Assegna Valore Ammontare Forfait</label>
        <locationX>1150</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>valoreAmmontareBillingItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Item_Forfait.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Item_Forfait</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Valore_Residuo</name>
        <label>Assegna Valore Residuo</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item_Riepilogo.Billing_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item_Riepilogo.Billing_expected_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item_Riepilogo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeResidualAggiornato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Residuo_senza_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Valore_Totale_Amount_Billing_Items</name>
        <label>Assegna Valore Totale Amount Billing Items</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>valoreAmmontareBillingItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_dei_Billing_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegnazione_Nuovo_Amount_per_Residuo</name>
        <label>Assegnazione Nuovo Amount per Residuo</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item_Riepilogo.Billing_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NuovoValoreRiepilogo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item_Riepilogo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeResidualAggiornato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Billing_Amount_per_Record_Riepilogo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Controllo_Presenza_Billing_Items</name>
        <label>Controllo Presenza Billing Items</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_dei_Billing_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billing Items Presenti</defaultConnectorLabel>
        <rules>
            <name>Billing_Item_Assenti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_gli_altri_Billing_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Valore_Residuo</targetReference>
            </connector>
            <label>Billing Item Assenti</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Presenza_Billing_Items_Forfait</name>
        <label>Controllo Presenza Billing Items Forfait</label>
        <locationX>864</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Item_Forfait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billing Items Presenti</defaultConnectorLabel>
        <rules>
            <name>Billing_Item_Forfait_Assenti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_gli_altri_Billing_Items_Forfait</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunit_Aggiornata_come_Aperta</targetReference>
            </connector>
            <label>Billing Item Forfait Assenti</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Tipo_di_Opportunit</name>
        <label>Controllo Tipo di Opportunità</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Ottieni_gli_altri_Billing_Items_Forfait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Forfait</defaultConnectorLabel>
        <rules>
            <name>T_M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T&amp;M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Billing_Item_Riepilogo</targetReference>
            </connector>
            <label>T&amp;M</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valuta_Totale_Billing_Item_Forfait</name>
        <label>Valuta Totale Billing Item Forfait</label>
        <locationX>1062</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Status_su_Not_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Diverso</defaultConnectorLabel>
        <rules>
            <name>Uguale_ad_Ammontare_Ordine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>valoreAmmontareBillingItems</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Status_su_Completed</targetReference>
            </connector>
            <label>Uguale ad Ammontare Ordine</label>
        </rules>
    </decisions>
    <description>Flusso che aggiorna il valore del Billing Amount sul record Residuo dei Billing Items al cambio dell&apos;Order Amount sull&apos;Opportunità correlata</description>
    <formulas>
        <name>NomeResidualAggiornato</name>
        <dataType>String</dataType>
        <expression>&quot;Not Touch - Residuo - &quot; + {!$Record.Order_Number__c}</expression>
    </formulas>
    <formulas>
        <name>NuovoValoreRiepilogo</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Order_Amount__c} - {!valoreAmmontareBillingItems}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Aggionra Ammontare su Riepilogo al cambio dell&apos;ammontare su Opportunità {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggionra Ammontare su Residuo al cambio dell&apos;ammontare su Opportunità</label>
    <loops>
        <name>Loop_dei_Billing_Items</name>
        <label>Loop dei Billing Items</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <collectionReference>Ottieni_gli_altri_Billing_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assegna_Valore_Totale_Amount_Billing_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assegnazione_Nuovo_Amount_per_Residuo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Item_Forfait</name>
        <label>Loop Item Forfait</label>
        <locationX>1062</locationX>
        <locationY>647</locationY>
        <collectionReference>Ottieni_gli_altri_Billing_Items_Forfait</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assegna_Valore_Ammontare_Forfait</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Valuta_Totale_Billing_Item_Forfait</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Ottieni_Billing_Item_Riepilogo</name>
        <label>Ottieni Billing Item Riepilogo</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ottieni_gli_altri_Billing_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Residual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_gli_altri_Billing_Items</name>
        <label>Ottieni gli altri Billing Items</label>
        <locationX>226</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Controllo_Presenza_Billing_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Ottieni_Billing_Item_Riepilogo.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not to be invoiced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_gli_altri_Billing_Items_Forfait</name>
        <label>Ottieni gli altri Billing Items Forfait</label>
        <locationX>864</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Controllo_Presenza_Billing_Items_Forfait</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Ottieni_Billing_Item_Riepilogo.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not to be invoiced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Billing_Amount_per_Record_Riepilogo</name>
        <label>Aggiorna Billing Amount per Record Riepilogo</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Aggiorna_Order_Statud_su_Opportunit</targetReference>
        </connector>
        <inputReference>Ottieni_Billing_Item_Riepilogo</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Order_Statud_su_Opportunit</name>
        <label>Aggiorna Order Statud su Opportunitò</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Order_Statud_su_Opportunit_per_Items_Assenti</name>
        <label>Aggiorna Order Statud su Opportunitò per Items Assenti</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Residuo_senza_Items</name>
        <label>Aggiorna Residuo senza Items</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Aggiorna_Order_Statud_su_Opportunit_per_Items_Assenti</targetReference>
        </connector>
        <inputReference>Ottieni_Billing_Item_Riepilogo</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Status_su_Completed</name>
        <label>Aggiorna Status su Completed</label>
        <locationX>930</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Status_su_Not_Completed</name>
        <label>Aggiorna Status su Not Completed</label>
        <locationX>1194</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunit_Aggiornata_come_Aperta</name>
        <label>Opportunità Aggiornata come Aperta</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Controllo_Tipo_di_Opportunit</targetReference>
        </connector>
        <filterLogic>(2 AND ( 1 OR 3 OR 4) ) OR  ((1 OR 3 OR 4) AND 5)</filterLogic>
        <filters>
            <field>Order_Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Residual_Capacity_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Engagement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Forfait</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>valoreAmmontareBillingItems</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
