src/flows/Aggiorna_Billing_Item_con_Opportunit_Senza_Ordine.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Somma_Ammontare_Billing_Items</name>
        <label>Somma Ammontare Billing Items</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ValoreTotaleAmmontareBillingItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Billing_Items_dell_Opportunit.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Billing_Items_dell_Opportunit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Controllo_Ammontare_Opportunit_e_Somma_Ammontare_Billing_Items</name>
        <label>Controllo Ammontare Opportunità e Somma Ammontare Billing Items</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Billing_Plan_Status_su_Opportunit_con_Non_Completato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valore Diverso</defaultConnectorLabel>
        <rules>
            <name>Stesso_Valore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ValoreTotaleAmmontareBillingItems</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Billing_Plan_Status_su_Opportunit_su_Completato</targetReference>
            </connector>
            <label>Stesso Valore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esistono_Altri_Billing_Items</name>
        <label>Esistono Altri Billing Items?</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Non Esistono</defaultConnectorLabel>
        <rules>
            <name>Esistono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item_Correlati_All_Opportunit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Billing_Items_dell_Opportunit</targetReference>
            </connector>
            <label>Esistono</label>
        </rules>
    </decisions>
    <interviewLabel>Aggiorna Billing Item con Opportunità Senza Ordine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiorna Billing Item con Opportunità Senza Ordine</label>
    <loops>
        <name>Loop_Billing_Items_dell_Opportunit</name>
        <label>Loop Billing Items dell&apos;Opportunità</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Ottieni_Billing_Item_Correlati_All_Opportunit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Somma_Ammontare_Billing_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Controllo_Ammontare_Opportunit_e_Somma_Ammontare_Billing_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Ottieni_Billing_Item_Correlati_All_Opportunit</name>
        <label>Ottieni Billing Item Correlati All&apos;Opportunità</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esistono_Altri_Billing_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Billing_Plan_Status_su_Opportunit_con_Non_Completato</name>
        <label>Aggiorna Billing Plan Status su Opportunità con Non Completato</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Billing_Plan_Status_su_Opportunit_su_Completato</name>
        <label>Aggiorna Billing Plan Status su Opportunità su Completato</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Termini_di_Pagamento_su_Billing_Item</name>
        <label>Aggiorna Termini di Pagamento su Billing Item</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Ottieni_Billing_Item_Correlati_All_Opportunit</targetReference>
        </connector>
        <inputAssignments>
            <field>Payment_terms__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Payment_terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Aggiorna_Termini_di_Pagamento_su_Billing_Item</targetReference>
        </connector>
        <object>Billing_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ValoreTotaleAmmontareBillingItems</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
