src/flows/Aggiornamento_Amount_su_Residual_Capacity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assegna_Amount_sommando_i_Billing_Items</name>
        <label>Assegna Amount sommando i Billing Items</label>
        <locationX>798</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>ValoreBillingItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items_per_Calcolo_Residuo.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UltimaDataBillingItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items_per_Calcolo_Residuo.Billing_expected_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_dei_Billing_Items_per_Calcolo_Residuo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Nuovo_Valore_Tappo</name>
        <label>Assegna Nuovo Valore Tappo</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Residual_Capacity_dell_Opportunit.Billing_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DifferenzaTappoEdItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Residual_Capacity_dell_Opportunit.Billing_expected_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValoreDataScadenzaPerResidual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Valore_Residual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Nuovo_Valore_Tappo_in_base_al_nuovo_Items</name>
        <label>Assegna Nuovo Valore Tappo in base al nuovo Items</label>
        <locationX>842</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Residual_Capacity_dell_Opportunit.Billing_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DifferenzaTappoEdItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Residual_Capacity_dell_Opportunit.Billing_expected_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextBillingExpectedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Valore_Residual_con_nuovo_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Valore_Ammontare_del_Tappo_a_Variabile</name>
        <label>Assegna Valore Ammontare del Tappo a Variabile</label>
        <locationX>952</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ValoreResidualCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Controllo_su_Billing_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calcolo_Amount_in_Base_ai_Valori_sui_Billing_Items</name>
        <label>Calcolo Amount in Base ai Valori sui Billing Items</label>
        <locationX>270</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>ValoreBillingItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UltimaDataBillingItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items.Billing_expected_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_dei_Billing_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calcolo_Amount_in_Base_ai_Valori_sui_Billing_Items_Forfait</name>
        <label>Calcolo Amount in Base ai Valori sui Billing Items Forfait</label>
        <locationX>2206</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ValoreBillingItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items_Forfait.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UltimaDataBillingItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items_Forfait.Billing_expected_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_dei_Billing_Items_Forfait</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calcolo_Amount_in_Base_ai_Valori_sui_Billing_Items_Forfait_Not_To_Be_Invoiced</name>
        <label>Calcolo Amount in Base ai Valori sui Billing Items Forfait Not To Be Invoiced</label>
        <locationX>3262</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ValoreBillingItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items_Forfait_Not_To_Be_Invoiced.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UltimaDataBillingItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items_Forfait_Not_To_Be_Invoiced.Billing_expected_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_dei_Billing_Items_Forfait_Not_To_Be_Invoiced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calcolo_Amount_in_Base_ai_Valori_sui_Billing_Items_Forfait_per_nuovo_Billing</name>
        <label>Calcolo Amount in Base ai Valori sui Billing Items Forfait per nuovo Billing</label>
        <locationX>2734</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ValoreBillingItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items_Forfait_per_nuovo_Billing.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UltimaDataBillingItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items_Forfait_per_nuovo_Billing.Billing_expected_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_dei_Billing_Items_Forfait_per_nuovo_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_di_Assegna_Nuovo_Valore_Tappo</name>
        <label>Copia 1 di Assegna Nuovo Valore Tappo</label>
        <locationX>1194</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Residual_Capacity_dell_Opportunit.Billing_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DifferenzaTappoEdItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Residual_Capacity_dell_Opportunit.Billing_expected_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValoreDataScadenzaPerResidual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_1_di_Aggiorna_Valore_Residual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Calcolo_Amount_in_Base_ai_Valori_sui_Billing_Items</name>
        <label>Copy 1 of Calcolo Amount in Base ai Valori sui Billing Items</label>
        <locationX>1282</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>ValoreBillingItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_dei_Billing_Items.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UltimaDataBillingItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_dei_Billing_Items.Billing_expected_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_dei_Billing_Items</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Copy_2_of_Ordina_Billing_Items_per_Controllo_Data</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Copy 2 of Ordina Billing Items per Controllo Data</label>
        <locationX>1194</locationX>
        <locationY>971</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Copy_2_of_Ottieni_Billing_Items_Correlati_al_Residual_Capacity</collectionReference>
        <connector>
            <targetReference>Copy_1_of_Loop_dei_Billing_Items</targetReference>
        </connector>
        <sortOptions>
            <sortField>Billing_expected_date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Ordina_Billing_Items_per_Controllo_Data</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordina Billing Items per Controllo Data</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Ottieni_Billing_Items_Correlati_al_Residual_Capacity</collectionReference>
        <connector>
            <targetReference>Loop_dei_Billing_Items</targetReference>
        </connector>
        <sortOptions>
            <sortField>Billing_expected_date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Ordina_Billing_Items_per_Controllo_Data_Forfait</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordina Billing Items per Controllo Data Forfait</label>
        <locationX>2118</locationX>
        <locationY>647</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Ottieni_Billing_Items_Correlati_per_Forfait</collectionReference>
        <connector>
            <targetReference>Loop_dei_Billing_Items_Forfait</targetReference>
        </connector>
        <sortOptions>
            <sortField>Billing_expected_date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Ordina_Billing_Items_per_Controllo_Data_Forfait_per_nuovo_Billing</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordina Billing Items per Controllo Data Forfait per nuovo Billing</label>
        <locationX>2646</locationX>
        <locationY>647</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Ottieni_Billing_Items_Correlati_per_Forfait_per_nuovo_Billing</collectionReference>
        <connector>
            <targetReference>Loop_dei_Billing_Items_Forfait_per_nuovo_Billing</targetReference>
        </connector>
        <sortOptions>
            <sortField>Billing_expected_date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Ordina_Billing_Items_per_Controllo_Data_per_Forfait</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordina Billing Items per Controllo Data per Forfait</label>
        <locationX>3174</locationX>
        <locationY>755</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Ottieni_Billing_Items_Correlati_per_Forfait_Not_To_Be_Invoiced</collectionReference>
        <connector>
            <targetReference>Loop_dei_Billing_Items_Forfait_Not_To_Be_Invoiced</targetReference>
        </connector>
        <sortOptions>
            <sortField>Billing_expected_date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Ordina_Billing_Items_per_Verifica_Data</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordina Billing Items per Verifica Data</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Ottieni_i_Billing_Items_Correlati</collectionReference>
        <connector>
            <targetReference>Loop_dei_Billing_Items_per_Calcolo_Residuo</targetReference>
        </connector>
        <sortOptions>
            <sortField>Billing_expected_date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Controllo_Nuovo_Valore_Residual_Capacity</name>
        <label>Controllo Nuovo Valore Residual Capacity</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Assegna_Nuovo_Valore_Tappo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valore &gt;= 0</defaultConnectorLabel>
        <rules>
            <name>Valore_Minore_di_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DifferenzaTappoEdItems</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Avviso_Residual_Capacity_Negativo</targetReference>
            </connector>
            <label>Valore Minore di 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Nuovo_Valore_Residual_Capacity_Forfait</name>
        <label>Controllo Nuovo Valore Residual Capacity Forfait</label>
        <locationX>2118</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valore &gt;= 0</defaultConnectorLabel>
        <rules>
            <name>Valore_Minore_di_0_per_Forfait</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DifferenzaItemEdOrderAmountForfait</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait_non_Completed</targetReference>
            </connector>
            <label>Valore Minore di 0 per Forfait</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Nuovo_Valore_Residual_Capacity_Forfait_Nuovo_Item</name>
        <label>Controllo Nuovo Valore Residual Capacity Forfait Nuovo Item</label>
        <locationX>2646</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait_per_nuovo_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valore &gt;= 0</defaultConnectorLabel>
        <rules>
            <name>Valore_Minore_di_0_per_Forfait_per_nuovo_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DifferenzaItemEdOrderAmountForfait</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait_non_Completed_per_nuovo_Bil</targetReference>
            </connector>
            <label>Valore Minore di 0 per Forfait per nuovo Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Nuovo_Valore_Residual_Capacity_Forfait_per_Not_To_Be_Invocied</name>
        <label>Controllo Nuovo Valore Residual Capacity Forfait per Not To Be Invocied</label>
        <locationX>3174</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait_per_Not_To_Be_Invoiced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valore &gt;= 0</defaultConnectorLabel>
        <rules>
            <name>Valore_Minore_di_0_per_Forfait_Not_To_Be_Invoiced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DifferenzaItemEdOrderAmountForfait</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait_non_Completed_per_Not_To_Be</targetReference>
            </connector>
            <label>Valore Minore di 0 per Forfait Not To Be Invoiced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Nuovo_Valore_Residual_Capacity_per_Nuovo_Items</name>
        <label>Controllo Nuovo Valore Residual Capacity per Nuovo Items</label>
        <locationX>710</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Assegna_Nuovo_Valore_Tappo_in_base_al_nuovo_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Il Valore è &gt;= 0</defaultConnectorLabel>
        <rules>
            <name>Il_Valore_Minore_di_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DifferenzaTappoEdItems</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errore_Residual_Capacity_Negativo</targetReference>
            </connector>
            <label>Il Valore è Minore di 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_su_Billing_Amount</name>
        <label>Controllo su Billing Amount</label>
        <locationX>952</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Esito Predefinito</defaultConnectorLabel>
        <rules>
            <name>Billing_Amount_Modificato</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_expected_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Billing_Items_Correlati_al_Residual_Capacity</targetReference>
            </connector>
            <label>Billing Amount Modificato</label>
        </rules>
        <rules>
            <name>Nuovo_Billing_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_i_Billing_Items_Correlati</targetReference>
            </connector>
            <label>Nuovo Billing Items</label>
        </rules>
        <rules>
            <name>Not_to_be_Ivoiced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not to be invoiced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifica_Stato_Not_To_be_Invoiced</targetReference>
            </connector>
            <label>Not to be Ivoiced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_su_Billing_Amount_per_Forfait</name>
        <label>Controllo su Billing Amount per Forfait</label>
        <locationX>2976</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Esito Predefinito</defaultConnectorLabel>
        <rules>
            <name>Billing_Amount_Modificato_per_Forfait</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_expected_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Billing_Items_Correlati_per_Forfait</targetReference>
            </connector>
            <label>Billing Amount Modificato per Forfait</label>
        </rules>
        <rules>
            <name>Nuovo_Billing_Items_per_Forfait</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Billing_Items_Correlati_per_Forfait_per_nuovo_Billing</targetReference>
            </connector>
            <label>Nuovo Billing Items per Forfait</label>
        </rules>
        <rules>
            <name>Not_to_be_Ivoiced_per_Forfait</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not to be invoiced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifica_Stato_Not_To_be_Invoiced_per_Forfait</targetReference>
            </connector>
            <label>Not to be Ivoiced per Forfait</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Tipo_di_Opportunit</name>
        <label>Controllo Tipo di Opportunità</label>
        <locationX>1964</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Controllo_su_Billing_Amount_per_Forfait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Forfait</defaultConnectorLabel>
        <rules>
            <name>T_M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T&amp;M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Residual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Residual_Capacity_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Residual_Capacity_dell_Opportunit</targetReference>
            </connector>
            <label>T&amp;M</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Stato_Not_To_be_Invoiced</name>
        <label>Verifica Stato Not To be Invoiced</label>
        <locationX>1326</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_to_Be_Invoiced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not to be invoiced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Ottieni_Billing_Items_Correlati_al_Residual_Capacity</targetReference>
            </connector>
            <label>Not to Be Invoiced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Stato_Not_To_be_Invoiced_per_Forfait</name>
        <label>Verifica Stato Not To be Invoiced per Forfait</label>
        <locationX>3372</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_to_Be_Invoiced_Forfait</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not to be invoiced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ottieni_Billing_Items_Correlati_per_Forfait_Not_To_Be_Invoiced</targetReference>
            </connector>
            <label>Not to Be Invoiced Forfait</label>
        </rules>
    </decisions>
    <description>Flusso che Aggiorna il Valore di Billing Amout sul Residual Capacity in linea con la creazione dei Line Items e l&apos;Order Amount dell&apos;Opportunità</description>
    <formulas>
        <name>DifferenzaItemEdOrderAmountForfait</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Order_Amount__c} - {!ValoreBillingItems}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DifferenzaTappoEdItems</name>
        <dataType>Currency</dataType>
        <expression>{!Ottieni_Residual_Capacity_dell_Opportunit.Order_Amount__c} - {!ValoreBillingItems}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NextBillingExpectedDate</name>
        <dataType>Date</dataType>
        <expression>{!UltimaDataBillingItems} + 30</expression>
    </formulas>
    <formulas>
        <name>test</name>
        <dataType>Currency</dataType>
        <expression>{!ValoreResidualCapacity} + {!ValoreBillingItems}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ValoreDataScadenzaPerResidual</name>
        <dataType>Date</dataType>
        <expression>{!UltimaDataBillingItems} + 30</expression>
    </formulas>
    <interviewLabel>Aggiornamento Amount su Residual Capacity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggiornamento Amount su Residual Capacity</label>
    <loops>
        <name>Copy_1_of_Loop_dei_Billing_Items</name>
        <label>Copy 1 of Loop dei Billing Items</label>
        <locationX>1194</locationX>
        <locationY>1079</locationY>
        <collectionReference>Copy_2_of_Ottieni_Billing_Items_Correlati_al_Residual_Capacity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Calcolo_Amount_in_Base_ai_Valori_sui_Billing_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copia_1_di_Assegna_Nuovo_Valore_Tappo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_dei_Billing_Items</name>
        <label>Loop dei Billing Items</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <collectionReference>Ottieni_Billing_Items_Correlati_al_Residual_Capacity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calcolo_Amount_in_Base_ai_Valori_sui_Billing_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Controllo_Nuovo_Valore_Residual_Capacity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_dei_Billing_Items_Forfait</name>
        <label>Loop dei Billing Items Forfait</label>
        <locationX>2118</locationX>
        <locationY>755</locationY>
        <collectionReference>Ottieni_Billing_Items_Correlati_per_Forfait</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calcolo_Amount_in_Base_ai_Valori_sui_Billing_Items_Forfait</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Controllo_Nuovo_Valore_Residual_Capacity_Forfait</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_dei_Billing_Items_Forfait_Not_To_Be_Invoiced</name>
        <label>Loop dei Billing Items Forfait Not To Be Invoiced</label>
        <locationX>3174</locationX>
        <locationY>863</locationY>
        <collectionReference>Ottieni_Billing_Items_Correlati_per_Forfait_Not_To_Be_Invoiced</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calcolo_Amount_in_Base_ai_Valori_sui_Billing_Items_Forfait_Not_To_Be_Invoiced</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Controllo_Nuovo_Valore_Residual_Capacity_Forfait_per_Not_To_Be_Invocied</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_dei_Billing_Items_Forfait_per_nuovo_Billing</name>
        <label>Loop dei Billing Items Forfait per nuovo Billing</label>
        <locationX>2646</locationX>
        <locationY>755</locationY>
        <collectionReference>Ottieni_Billing_Items_Correlati_per_Forfait_per_nuovo_Billing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calcolo_Amount_in_Base_ai_Valori_sui_Billing_Items_Forfait_per_nuovo_Billing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Controllo_Nuovo_Valore_Residual_Capacity_Forfait_Nuovo_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_dei_Billing_Items_per_Calcolo_Residuo</name>
        <label>Loop dei Billing Items per Calcolo Residuo</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <collectionReference>Ottieni_i_Billing_Items_Correlati</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assegna_Amount_sommando_i_Billing_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Controllo_Nuovo_Valore_Residual_Capacity_per_Nuovo_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_2_of_Ottieni_Billing_Items_Correlati_al_Residual_Capacity</name>
        <label>Copy 2 of Ottieni Billing Items Correlati al Residual Capacity</label>
        <locationX>1194</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Ordina_Billing_Items_per_Controllo_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not to be invoiced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Billing_Items_Correlati_al_Residual_Capacity</name>
        <label>Ottieni Billing Items Correlati al Residual Capacity</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordina_Billing_Items_per_Controllo_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not to be invoiced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Billing_Items_Correlati_per_Forfait</name>
        <label>Ottieni Billing Items Correlati per Forfait</label>
        <locationX>2118</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordina_Billing_Items_per_Controllo_Data_Forfait</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not to be invoiced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Billing_Items_Correlati_per_Forfait_Not_To_Be_Invoiced</name>
        <label>Ottieni Billing Items Correlati per Forfait Not To Be Invoiced</label>
        <locationX>3174</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordina_Billing_Items_per_Controllo_Data_per_Forfait</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not to be invoiced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Billing_Items_Correlati_per_Forfait_per_nuovo_Billing</name>
        <label>Ottieni Billing Items Correlati per Forfait per nuovo Billing</label>
        <locationX>2646</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordina_Billing_Items_per_Controllo_Data_Forfait_per_nuovo_Billing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not to be invoiced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_i_Billing_Items_Correlati</name>
        <label>Ottieni i Billing Items Correlati</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordina_Billing_Items_per_Verifica_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not to be invoiced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Residual_Capacity_dell_Opportunit</name>
        <label>Ottieni Residual Capacity dell&apos;Opportunità</label>
        <locationX>952</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Valore_Ammontare_del_Tappo_a_Variabile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Residual__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Opportunit_Correlata_agli_Items</name>
        <label>Aggiorna Opportunità Correlata agli Items</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Opportunit_Correlata_agli_Items_dopo_Creazione_Nuovo_Items</name>
        <label>Aggiorna Opportunità Correlata agli Items dopo Creazione Nuovo Items</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait</name>
        <label>Aggiorna Opportunità Correlata agli Items per Forfait</label>
        <locationX>2250</locationX>
        <locationY>1163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait_non_Completed</name>
        <label>Aggiorna Opportunità Correlata agli Items per Forfait non Completed</label>
        <locationX>1986</locationX>
        <locationY>1163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait_non_Completed_per_Not_To_Be</name>
        <label>Aggiorna Opportunità Correlata agli Items per Forfait non Completed per Not To Be Invoiced</label>
        <locationX>3042</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait_non_Completed_per_nuovo_Bil</name>
        <label>Aggiorna Opportunità Correlata agli Items per Forfait non Completed per nuovo Billing</label>
        <locationX>2514</locationX>
        <locationY>1163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait_per_Not_To_Be_Invoiced</name>
        <label>Aggiorna Opportunità Correlata agli Items per Forfait per Not To Be Invoiced</label>
        <locationX>3306</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Opportunit_Correlata_agli_Items_per_Forfait_per_nuovo_Item</name>
        <label>Aggiorna Opportunità Correlata agli Items per Forfait per nuovo Item</label>
        <locationX>2778</locationX>
        <locationY>1163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Valore_Residual</name>
        <label>Aggiorna Valore Residual</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Aggiorna_Opportunit_Correlata_agli_Items</targetReference>
        </connector>
        <inputReference>Ottieni_Residual_Capacity_dell_Opportunit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Valore_Residual_con_nuovo_Items</name>
        <label>Aggiorna Valore Residual con nuovo Items</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Aggiorna_Opportunit_Correlata_agli_Items_dopo_Creazione_Nuovo_Items</targetReference>
        </connector>
        <inputReference>Ottieni_Residual_Capacity_dell_Opportunit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_1_di_Aggiorna_Opportunit_Correlata_agli_Items</name>
        <label>Copia 1 di Aggiorna Opportunità Correlata agli Items</label>
        <locationX>1194</locationX>
        <locationY>1595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Residual_Capacity_dell_Opportunit.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_1_di_Aggiorna_Valore_Residual</name>
        <label>Copia 1 di Aggiorna Valore Residual</label>
        <locationX>1194</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Copia_1_di_Aggiorna_Opportunit_Correlata_agli_Items</targetReference>
        </connector>
        <inputReference>Ottieni_Residual_Capacity_dell_Opportunit</inputReference>
    </recordUpdates>
    <start>
        <locationX>1838</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Controllo_Tipo_di_Opportunit</targetReference>
        </connector>
        <object>Billing_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UltimaDataBillingItems</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValoreBillingItems</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ValoreResidualCapacity</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
