src/flows/Calcolo_Opportunity_ID.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assegna_Valori_Numeratore</name>
        <label>Assegna Valori Numeratore</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Numeratore_Appoggio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Valore_Opportunity_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Esiste_un_Record_Creato_Prima_di_Questo</name>
        <label>Esiste un Record Creato Prima di Questo?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assegna_Valori_Numeratore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Opportunit_di_Quest_Anno</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_record_2</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <description>Flusso che compila il campo Opportunity ID quando viene creata una nuova Opportunità</description>
    <formulas>
        <name>DataCreazioneRecord</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>MeseCreazioneRecord</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!DataCreazioneRecord}))</expression>
    </formulas>
    <formulas>
        <name>MeseDiOggi</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>NumeratoreIncrementato</name>
        <dataType>Number</dataType>
        <expression>{!Ottieni_Opportunit_di_Quest_Anno.Numeratore_Appoggio__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OppIDSuccessiva</name>
        <dataType>String</dataType>
        <expression>&apos;AV&apos; + RIGHT(TEXT(YEAR({!$Flow.CurrentDate})), 2) + &apos;M&apos; + LPAD(TEXT({!Ottieni_Opportunit_di_Quest_Anno.Numeratore_Appoggio__c}+1), 4, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>PrimoDiQuestoAnno</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),01,01)</expression>
    </formulas>
    <formulas>
        <name>ValoreOpportunityID</name>
        <dataType>String</dataType>
        <expression>&apos;AE&apos; + RIGHT(TEXT(YEAR({!$Flow.CurrentDate})), 2) + &apos;M&apos; + LPAD(TEXT({!$Record.Numeratore_Appoggio__c}), 4, &apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>Calcolo Opportunity ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calcolo Opportunity ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Ottieni_Opportunit_di_Quest_Anno</name>
        <label>Ottieni Opportunità di Quest&apos;Anno</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esiste_un_Record_Creato_Prima_di_Questo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>PrimoDiQuestoAnno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Code__c</queriedFields>
        <queriedFields>Numeratore_Appoggio__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Contatore</name>
        <label>Aggiorna Contatore</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Numeratore_Appoggio__c</field>
            <value>
                <elementReference>NumeratoreIncrementato</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_record_2</name>
        <label>Aggiorna Opportunity ID</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Aggiorna_Contatore</targetReference>
        </connector>
        <inputAssignments>
            <field>Code__c</field>
            <value>
                <elementReference>OppIDSuccessiva</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Valore_Opportunity_ID</name>
        <label>Aggiorna Valore Opportunity ID</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Code__c</field>
            <value>
                <elementReference>ValoreOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numeratore_Appoggio__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ottieni_Opportunit_di_Quest_Anno</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>testId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
