src/flows/Change_Status_Billing_Item.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invoiceinprogress</name>
        <choiceText>Invoice in progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice in progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nottobeinvoiced</name>
        <choiceText>Not to be invoiced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not to be invoiced</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProcessoIntegrato</name>
        <choiceText>Processo automatico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Processo automatico</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProcessoManuale</name>
        <choiceText>Processo manuale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Processo manuale</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tobeapproved</name>
        <choiceText>To be approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>To be approved</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Fattura_o_Nota_Credito</name>
        <label>Fattura o Nota Credito</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Flusso_Fattura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fattura</defaultConnectorLabel>
        <rules>
            <name>Nota_di_credito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Billing_amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flusso_Nota_di_credito</targetReference>
            </connector>
            <label>Nota di credito</label>
        </rules>
    </decisions>
    <interviewLabel>Change Status Billing Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Status Billing Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Ottieni_Billing_Item</name>
        <label>Ottieni Billing Item</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fattura_o_Nota_Credito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ottieni_Billing_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flusso_Fattura</name>
        <label>Flusso Fattura</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <flowName>Fattura_Modifica_Stato_Billing_Item</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Flusso_Nota_di_credito</name>
        <label>Flusso Nota di credito</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <flowName>Nota_di_Credito_Modifica_Stato_Billing_Item</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>EsitoInvioFattura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
