src/flows/Creazione_nuovi_progetti_TR.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>UpdateOpp</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetCustSett.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Altro</name>
        <choiceText>Altro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Altro</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_SEDE_MI</name>
        <choiceText>AV - SEDE MI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AV - SEDE MI</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_SEDE_PD</name>
        <choiceText>AV - SEDE PD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AV - SEDE PD</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_SEDE_TO</name>
        <choiceText>AV - SEDE TO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AV - SEDE TO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Biglietto_viaggio</name>
        <choiceText>Biglietto viaggio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biglietto viaggio</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRM_Salesforce</name>
        <choiceText>CRM (Salesforce)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CRM Salesforce</stringValue>
        </value>
    </choices>
    <choices>
        <name>ERP_SAP_EasyFattura_Neptune</name>
        <choiceText>ERP (SAP+EasyFattura+Neptune)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ERP (SAP+EasyFattura+Neptune)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Home_office</name>
        <choiceText>Home office</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home office</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hotel</name>
        <choiceText>Hotel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hotel</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pranzo_cena</name>
        <choiceText>Pranzo/cena</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pranzo/cena</stringValue>
        </value>
    </choices>
    <choices>
        <name>SCM_Kinaxis_JDA</name>
        <choiceText>SCM (Kinaxis/JDA)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SCM Kinaxis/JDA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Taxi</name>
        <choiceText>Taxi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Taxi</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_6</name>
        <label>Decision 6</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>TRAlreadySent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Messaggio_CRM</targetReference>
            </connector>
            <label>CRM</label>
        </rules>
    </decisions>
    <decisions>
        <description>Engagement Type</description>
        <name>ETFilled</name>
        <label>ETFilled</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesET</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunity</targetReference>
            </connector>
            <label>YesET</label>
        </rules>
        <rules>
            <name>NoET</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateETInfo</targetReference>
            </connector>
            <label>NoET</label>
        </rules>
    </decisions>
    <decisions>
        <name>PMFilled</name>
        <label>PMFilled</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ETFilled</targetReference>
            </connector>
            <label>YesPM</label>
        </rules>
        <rules>
            <name>NoPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePMInfo</targetReference>
            </connector>
            <label>NoPM</label>
        </rules>
    </decisions>
    <decisions>
        <name>RequiredFields</name>
        <label>RequiredFields</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotFilled</name>
            <conditionLogic>1 OR 2 OR 3 OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>T&amp;M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Forfait</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>NotFilled</label>
        </rules>
        <rules>
            <name>Filled</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Project_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Bill_to__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T&amp;M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Forfait</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CampiDaInviare</targetReference>
            </connector>
            <label>Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>TRAlreadySent</name>
        <label>TRAlreadySent</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.SendNewTRProject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TR_already_sent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.SendNewTRProject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequiredFields</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Sostituita la mappatura nel corpo email: account-accDiRiferimento-oppOwner al posto di Bill to (tolto ogni riferimento)</description>
    <dynamicChoiceSets>
        <name>EngagementType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Engagement_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>PMFullName</name>
        <dataType>String</dataType>
        <expression>{!GetOpportunity.Project_Manager__r.PM_name__c} + &apos; &apos; + {!GetOpportunity.Project_Manager__r.Name}</expression>
    </formulas>
    <formulas>
        <name>VarUserEmailForObject</name>
        <dataType>String</dataType>
        <expression>IF({!$User.FirstName} = &apos;Managers&apos;,{!GetOpportunity.PM_Quality_manager__r.Email__c}, {!$User.Email})</expression>
    </formulas>
    <interviewLabel>Creazione nuovi progetti TR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creazione nuovi progetti TR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCustSett</name>
        <label>GetCustSett</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailNewTRProject__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Engagement type info</description>
        <name>UpdateETInfo</name>
        <label>UpdateETInfo</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Engagement_Type__c</field>
            <value>
                <elementReference>Engagement_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SendNewTRProject__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePMInfo</name>
        <label>UpdatePMInfo</label>
        <locationX>798</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>ETFilled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>FillProjectManager.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>CampiDaInviare</name>
        <label>CampiDaInviare</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCustSett</targetReference>
        </connector>
        <fields>
            <name>CampiDaInviare_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CampiDaInviare_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_del_cliente</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Nome del cliente&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetOpportunity.Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PM_di_riferimento</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;PM di riferimento&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!PMFullName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Codice_Offerta_Salesforce</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Codice Offerta Salesforce&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetOpportunity.Code__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CampiDaInviare_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_del_progetto_new</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetOpportunity.Name</elementReference>
                    </defaultValue>
                    <fieldText>Nome del progetto</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Account_di_riferimento</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Account di riferimento&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetOpportunity.Owner.FirstName} {!GetOpportunity.Owner.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Tipologia_progetto</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Tipologia progetto&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetOpportunity.Engagement_Type__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Inserire_la_tariffa_di_vendita_per_persona_per_questo_progetto_BILL_RATE</name>
            <dataType>String</dataType>
            <fieldText>Inserire la tariffa di vendita per persona per questo progetto (BILL RATE)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>T&amp;M</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Elencare_le_persone_da_abilitare</name>
            <dataType>String</dataType>
            <fieldText>Elencare le persone da abilitare</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>T&amp;M</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Forfait</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tra_le_persone_da_abilitare_ci_sono_subcontractor</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tra le persone da abilitare ci sono subcontractor?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>T&amp;M</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Forfait</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Inserire_il_costo_di_ciascun_subcontractor_FLC_per_anno</name>
            <dataType>String</dataType>
            <fieldText>Inserire il costo di ciascun subcontractor (FLC per anno)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Scrivere il nome e il relativo importo. Se ci sono più subco da attivare, inserire nome e importo di tutti&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tra_le_persone_da_abilitare_ci_sono_subcontractor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Questo_progetto_prevede_inserimento_di_spese_a_TR</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Questo progetto prevede inserimento di spese a TR?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Tra_le_persone_da_abilitare_ci_sono_subcontractor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tra_le_persone_da_abilitare_ci_sono_subcontractor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Elenco_spese_da_abilitare</name>
            <choiceReferences>Hotel</choiceReferences>
            <choiceReferences>Pranzo_cena</choiceReferences>
            <choiceReferences>Biglietto_viaggio</choiceReferences>
            <choiceReferences>Taxi</choiceReferences>
            <choiceReferences>Altro</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Elenco spese da abilitare</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Altro_spese</name>
            <dataType>String</dataType>
            <fieldText>Altro spese</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Elenco_spese_da_abilitare</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Altro</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Importo_budget_in_come_da_ordine_Salesforce</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Importo budget in € come da ordine Salesforce&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetOpportunity.Amount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Margine_budget_come_da_offerta_Salesforce</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Margine budget % come da offerta Salesforce&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetOpportunity.Expected_Margin__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Data_fine_prevista1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Data fine prevista&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!GetOpportunity.Expected_fulfillment_date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Client_location</name>
            <choiceReferences>AV_SEDE_MI</choiceReferences>
            <choiceReferences>AV_SEDE_TO</choiceReferences>
            <choiceReferences>AV_SEDE_PD</choiceReferences>
            <choiceReferences>Home_office</choiceReferences>
            <choiceReferences>Altro</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Client location</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Altro_location</name>
            <dataType>String</dataType>
            <fieldText>Altro location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Client_location</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Altro</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Data_ultima_per_attivazione_progetto_TR</name>
            <dataType>Date</dataType>
            <fieldText>Data ultima per attivazione progetto TR</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Gestione_progetto_con_WBS</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gestione progetto con WBS</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Overtime</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Overtime</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Abilitazioni_TR_LOB</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>ERP_SAP_EasyFattura_Neptune</choiceReferences>
            <choiceReferences>SCM_Kinaxis_JDA</choiceReferences>
            <choiceReferences>CRM_Salesforce</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Abilitazioni TR: LOB?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Questo_progetto_prevede_inserimento_di_spese_a_TR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CompilazioneCampi</name>
        <label>CompilazioneCampi</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PMFilled</targetReference>
        </connector>
        <fields>
            <name>FillProjectManager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetOpportunity.Project_Manager__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Engagement_Type</name>
            <choiceReferences>EngagementType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>FillEngagement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetOpportunity.Engagement_Type__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CompilazioneCampi</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;ATTENTION!&lt;/span&gt; In order to send the request to open the TR it is necessary to fill in the following fields:&lt;/p&gt;&lt;p&gt;- &lt;strong&gt;Account name: &lt;/strong&gt;{!GetOpportunity.Account.Name}&lt;/p&gt;&lt;p&gt;- &lt;strong&gt;Project Manager: &lt;/strong&gt;{!GetOpportunity.Project_Manager__c}&lt;/p&gt;&lt;p&gt;- &lt;strong&gt;Engagment Type: &lt;/strong&gt;{!GetOpportunity.Engagement_Type__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Messaggio_CRM</name>
        <label>Messaggio CRM</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Messaggio_CRM_LOB1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Messaggio CRM LOB:&lt;/span&gt; Le opportunita con LOB CRM verranno inviate direttamente da AP&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TR_already_sent</name>
        <label>TR already sent</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorRunFlow</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;UNABLE TO RUN THE FLOW:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;A request for opening a new TR has already been sent for this opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ciao,
Creare  il seguente progetto a tr entro il: {!Data_ultima_per_attivazione_progetto_TR}
Richiesto da: {!$User.LastName} {!$User.FirstName}

Nome progetto: {!Nome_del_progetto_new}
Cliente: {!GetOpportunity.Account.Name}
Manager: {!PMFullName}
Account: {!GetOpportunity.Owner.FirstName} {!GetOpportunity.Owner.LastName}
Contratto: {!GetOpportunity.Engagement_Type__c}
Revenue: {!GetOpportunity.Amount}
Margine %: {!GetOpportunity.Expected_Margin__c}
Termine progetto: {!GetOpportunity.Expected_fulfillment_date__c}
Spese da caricare: {!Questo_progetto_prevede_inserimento_di_spese_a_TR}
Codice SF nel campo note: {!GetOpportunity.Code__c}
Client location: {!Client_location} {!Altro_location}
Gestione progetto con WBS:  {!Gestione_progetto_con_WBS}
No overtime: {!Overtime}
Abilitazioni TR: LOB? {!Abilitazioni_TR_LOB}



Fare le seguenti abilitazioni:
- Elenco Persone da abilitare: {!Elencare_le_persone_da_abilitare}
- Subco si/no: {!Tra_le_persone_da_abilitare_ci_sono_subcontractor}
- Bill rate (per progetti T&amp;M): {!Inserire_la_tariffa_di_vendita_per_persona_per_questo_progetto_BILL_RATE}
- Costo: {!Inserire_il_costo_di_ciascun_subcontractor_FLC_per_anno}
- Elenco spese da abilitare: {!Elenco_spese_da_abilitare} {!Altro_spese}

NB: note del modulo {!Note}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>NUOVO PROGETTO - {!VarUserEmailForObject}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
