src/flows/Creazione_Residual_Capacity_per_Opportunit_T_M.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assegna_Valore_Ammontare_Items</name>
        <label>Assegna Valore Ammontare Items</label>
        <locationX>534</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varAmmontareItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items_Presenti.Billing_amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UltimaDataBillingItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_dei_Billing_Items_Presenti.Billing_expected_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_dei_Billing_Items_Presenti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Valori_Residuo</name>
        <label>Assegna Valori Residuo</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeBillingItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Billing_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To be approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Billing_expected_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrentaGiorniDopo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Order_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Accrual_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnnoAttuale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Order_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Billing_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DifferenzaOrderEdItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Residual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_Residuo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegnazione_Valori_Tappo</name>
        <label>Assegnazione Valori Tappo</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Order_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Billing_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To be approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Accrual_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnnoAttuale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Billing_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Order_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeBillingItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Billing_expected_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordBillingItem.Residual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_Tappo</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filtra_i_Billing_Items_Not_to_be_Invoiced</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtra i Billing Items Not to be Invoiced</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Filtra_i_Billing_Items_Not_to_be_Invoiced</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Ottieni_Billing_Items_Correlati</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filtra_i_Billing_Items_Not_to_be_Invoiced.Billing_status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Not to be invoiced</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Ordina_Billing_Items_in_Ordine_Crescente</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Ordina_Billing_Items_in_Ordine_Crescente</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordina Billing Items in Ordine Crescente</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Filtra_i_Billing_Items_Not_to_be_Invoiced</collectionReference>
        <connector>
            <targetReference>Loop_dei_Billing_Items_Presenti</targetReference>
        </connector>
        <sortOptions>
            <sortField>Billing_expected_date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Controllo_Differenza_tra_Order_Amount_e_Totale_dei_Residual</name>
        <label>Controllo Differenza tra Order Amount e Totale dei Residual</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Assegna_Valori_Residuo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valore Positivo</defaultConnectorLabel>
        <rules>
            <name>Valore_Negativo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DifferenzaOrderEdItems</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Avviso_Negativit</targetReference>
            </connector>
            <label>Valore Negativo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Presenza_Billing_Items</name>
        <label>Controllo Presenza Billing Items</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Filtra_i_Billing_Items_Not_to_be_Invoiced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billing Items Presenti</defaultConnectorLabel>
        <rules>
            <name>Billing_Items_non_Presenti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Items_Correlati</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegnazione_Valori_Tappo</targetReference>
            </connector>
            <label>Billing Items non Presenti</label>
        </rules>
    </decisions>
    <description>Flusso che genera un Billing Items &quot;Residual Capacity&quot; con la somma dell&apos;Opportunità quando si passa in fase Closed Negotiation o Closed Won, controllando prima che non sia già stato creato un &quot;Residual Capacity&quot;</description>
    <formulas>
        <name>AnnoAttuale</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>BillingExpectingDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),MONTH(TODAY() + 90),DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>DifferenzaOrderEdItems</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Order_Amount__c} - {!varAmmontareItems}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NomeBillingItem</name>
        <dataType>String</dataType>
        <expression>&quot;Not Touch - Residuo - &quot; + {!$Record.Order_Number__c}</expression>
    </formulas>
    <formulas>
        <name>TrentaGiorniDopo</name>
        <dataType>Date</dataType>
        <expression>{!UltimaDataBillingItems} + 30</expression>
    </formulas>
    <interviewLabel>Creazione Tappo per Opportunità T&amp;M {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creazione Residual Capacity per Opportunità T&amp;M</label>
    <loops>
        <name>Loop_dei_Billing_Items_Presenti</name>
        <label>Loop dei Billing Items Presenti</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <collectionReference>Filtra_i_Billing_Items_Not_to_be_Invoiced</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assegna_Valore_Ammontare_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Controllo_Differenza_tra_Order_Amount_e_Totale_dei_Residual</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Residuo</name>
        <label>Crea Residuo</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Aggiorna_Opportunit</targetReference>
        </connector>
        <inputReference>RecordBillingItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crea_Tappo</name>
        <label>Crea Tappo</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Imposta_Status_su_Completed_su_Opportunit</targetReference>
        </connector>
        <inputReference>RecordBillingItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Ottieni_Billing_Items_Correlati</name>
        <label>Ottieni Billing Items Correlati</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Controllo_Presenza_Billing_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Opportunit</name>
        <label>Aggiorna Opportunità</label>
        <locationX>578</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residual_Capacity_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Imposta_Status_su_Completed_su_Opportunit</name>
        <label>Imposta Status su Completed su Opportunità</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Billin_Plan_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residual_Capacity_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ottieni_Billing_Items_Correlati</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Engagement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T&amp;M</stringValue>
            </value>
        </filters>
        <filters>
            <field>Residual_Capacity_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filtra_i_Billing_Items_Not_to_be_Invoiced</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>RecordBillingItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Billing_Item__c</objectType>
    </variables>
    <variables>
        <name>UltimaDataBillingItems</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAmmontareItems</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
