src/flows/Fattura_Modifica_Stato_Billing_Item.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Invoice_To_TIC</name>
        <label>Send Invoice To TIC</label>
        <locationX>2162</locationX>
        <locationY>2222</locationY>
        <actionName>TICApi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Controllo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fase_3_2_Controllo_criteri_di_accesso</targetReference>
        </faultConnector>
        <inputParameters>
            <name>mtdBillingItemId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>EsitoInvioFattura</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assegna_Codice_Iva_0</name>
        <label>Assegna Codice Iva 0%</label>
        <locationX>2426</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.VAT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N030201</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Codice_Iva_Billing_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Codice_Iva_22</name>
        <label>Assegna Codice Iva 22%</label>
        <locationX>2690</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.VAT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>22</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Codice_Iva_Billing_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Codice_Iva_Esterno_Non_UE</name>
        <label>Assegna Codice Iva Esterno Non UE</label>
        <locationX>3218</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.VAT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N020202</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Codice_Iva_Billing_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_status_Fattura_Fase_3_1</name>
        <label>Assegna status Fattura Fase #3.1</label>
        <locationX>2294</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.TIC_draft_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumeroBozza</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Billing_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice in progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Stato_Billing_Figli</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_status_Fattura_Fase_3_2</name>
        <label>Assegna status Fattura Fase #3.2</label>
        <locationX>2690</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Billing_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice in progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Fattura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_status_Fattura_Fase_4_2</name>
        <label>Assegna status Fattura Fase #4.2</label>
        <locationX>4010</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Billing_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoiced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Data_scadenza__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_due_date_Fase_4_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Billing_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_date_Fase_4_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Billing_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_number_Fase_4_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Fattura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_variabili</name>
        <label>Assegna variabili</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Billing_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Fattura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calcolo_data_scadenza</name>
        <label>Calcolo data scadenza</label>
        <locationX>3020</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Data_scadenza__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataScadenza</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Billing_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ottieni_Billing_Item.Billing_expected_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Out_of_pocket_desc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescrizioneSpeseTrasferta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Controllo_Nazione_Account_Cliente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_di_Assegna_Codice_Iva_22</name>
        <label>Assegna Codice Iva Esterno UE</label>
        <locationX>2954</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.VAT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N060201</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Codice_Iva_Billing_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assegna_variabili</name>
        <label>Copy 1 of Assegna variabili</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Billing_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not to be invoiced</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Fattura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Assegna_variabili</name>
        <label>Copy 2 of Copy 1 of Assegna variabili</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Item.Billing_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To be approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Fattura</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invoiceinprogress</name>
        <choiceText>Invoice in progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice in progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nottobeinvoiced</name>
        <choiceText>Not to be invoiced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not to be invoiced</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProcessoIntegrato</name>
        <choiceText>Processo automatico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Processo automatico</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProcessoManuale</name>
        <choiceText>Processo manuale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Processo manuale</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tobeapproved</name>
        <choiceText>To be approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>To be approved</stringValue>
        </value>
    </choices>
    <constants>
        <name>Agosto</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>31.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Aprile</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Dicembre</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>31.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>FebbraioBisestile</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>29.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>FebbraioNoBisestile</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>28.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Gennaio</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>31.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Giugno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Luglio</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>31.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Maggio</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>31.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Marzo</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>31.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Novembre</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Ottobre</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>31.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Settembre</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_billing_figlio</name>
        <label>Check billing figlio</label>
        <locationX>1898</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Decisione_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Billing_accorpato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_with__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Messaggio_Bill_Accorpato</targetReference>
            </connector>
            <label>Billing accorpato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo</name>
        <label>Controllo</label>
        <locationX>2162</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Ottieni_Figli_di_Billing_With</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Esito_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EsitoInvioFattura</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>KO</stringValue>
                </rightValue>
            </conditions>
            <label>Esito è KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Corretta_Composizione_TR_Project_ID</name>
        <label>Controllo Corretta Composizione TR Project ID</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Messaggio_Errore_TR_Project_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inserimento Errato</defaultConnectorLabel>
        <rules>
            <name>Inserito_Correttamente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrProjectIdCorretto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_variabili</targetReference>
            </connector>
            <label>Inserito Correttamente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_criteri_di_accesso</name>
        <label>Controllo criteri di accesso</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Controllo_Corretta_Composizione_TR_Project_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>Dati_Mancanti1</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9) OR (10 AND 11) OR (12 OR (13 AND 14) AND 15)</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__r.VAT_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__r.Company_name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__r.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.TR_opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Payment_terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__r.Codice_SDI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Opportunity__r.Billin_Plan_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Billing_expected_date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OggiMeno10gg</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Accrual_Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Opportunity__r.Partner__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aeonvis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Ottieni_Billing_Item.Opportunity__r.Partner__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Ottieni_Billing_Item.Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__r.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Ottieni_Billing_Item.Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Opportunity__r.Partner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aeonvis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errore_Fase_2</targetReference>
            </connector>
            <label>Dati Mancanti</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Dichiarazione_di_Intenti</name>
        <label>Controllo Dichiarazione di Intenti</label>
        <locationX>2558</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assegna_Codice_Iva_22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dichiarazione Non Valida</defaultConnectorLabel>
        <rules>
            <name>Dichiarazione_Valida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Account__r.Declaration_of_intent__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Codice_Iva_0</targetReference>
            </connector>
            <label>Dichiarazione Valida</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Fase_Successiva</name>
        <label>Controllo Fase Successiva</label>
        <locationX>677</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambio_in_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fattura_Fase_2</targetReference>
            </connector>
            <label>Cambio in Approved</label>
        </rules>
        <rules>
            <name>Cambio_in_Not_to_be_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nottobeinvoiced</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fattura_Fase_5</targetReference>
            </connector>
            <label>Cambio in Not to be approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Nazione_Account_Cliente</name>
        <label>Controllo Nazione Account Cliente</label>
        <locationX>3020</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Messaggio_Errore_Territorio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Italiano</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__r.VAT_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>22</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Controllo_Dichiarazione_di_Intenti</targetReference>
            </connector>
            <label>Italiano</label>
        </rules>
        <rules>
            <name>Estero_ed_UE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__r.Fa_Parte_dell_Unione_Europea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__r.VAT_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N060201</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_di_Assegna_Codice_Iva_22</targetReference>
            </connector>
            <label>Estero ed UE</label>
        </rules>
        <rules>
            <name>Estero_non_UE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__r.Fa_Parte_dell_Unione_Europea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Bill_to__r.VAT_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N020202</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Codice_Iva_Esterno_Non_UE</targetReference>
            </connector>
            <label>Estero non UE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Presenza_Campi_Obbligatori</name>
        <label>Controllo Presenza Campi Obbligatori</label>
        <locationX>2558</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Messaggio_di_Errore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Non Corretto</defaultConnectorLabel>
        <rules>
            <name>Record_Coerente</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Data_scadenza__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Billing_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_billing_figlio</targetReference>
            </connector>
            <label>Record Coerente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Controllo_Fase_Successiva</name>
        <label>Controllo Fase Successiva</label>
        <locationX>2558</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_be_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Fase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To be approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Assegna_variabili</targetReference>
            </connector>
            <label>To be approved</label>
        </rules>
        <rules>
            <name>Invoice_in_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Fase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice in progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fattura_Fase_3</targetReference>
            </connector>
            <label>Invoice in progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisione_1</name>
        <label>Decisione 1</label>
        <locationX>2162</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Invio_Bozza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bozza Da inviare</defaultConnectorLabel>
        <rules>
            <name>Bozza_Gia_Inviata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.TIC_draft_no__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.TIC_invoice_no__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bozza_Gia_Invita</targetReference>
            </connector>
            <label>Bozza Gia Inviata</label>
        </rules>
        <rules>
            <name>Fattura_gia_processata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.TIC_invoice_no__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.TIC_draft_no__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fattura_gia_Elaborata</targetReference>
            </connector>
            <label>Fattura gia processata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fase_3_1_Controllo_criteri_di_accesso</name>
        <label>Fase 3.1 - Controllo criteri di accesso</label>
        <locationX>3020</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Errore_Fase_3_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copia_1_di_Copia_1_di_Profilo_Amministrazione</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amministrazione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amministratore del sistema</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Controllo_Presenza_Campi_Obbligatori</targetReference>
            </connector>
            <label>Profilo = Amministrazione</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fase_3_2_Controllo_criteri_di_accesso</name>
        <label>Fase 3.2 - Controllo criteri di accesso</label>
        <locationX>2822</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Errore_Fase_3_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copia_1_di_Profilo_Amministrazione</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amministrazione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amministratore del sistema</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fattura_Fase_3_2</targetReference>
            </connector>
            <label>Copia 1 di Profilo = Amministrazione</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fase_4_2_Controllo_criteri_di_accesso</name>
        <label>Fase 4.2 - Controllo criteri di accesso</label>
        <locationX>4142</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Fattura_No_Amministrazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Profilo_Amministrazione_4_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amministrazione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amministratore del sistema</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fattura_Fase_4_2</targetReference>
            </connector>
            <label>Profilo = Amministrazione</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fattura_Da_fase</name>
        <label>Fattura - Da fase</label>
        <locationX>2607</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Nessuna_Fase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fattura_To_be_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Billing_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To be approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fattura_Scelta_Fase</targetReference>
            </connector>
            <label>Fattura - To be approved</label>
        </rules>
        <rules>
            <name>Fattura_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Billing_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fattura_Scelta_Fase_da_Approved</targetReference>
            </connector>
            <label>Fattura - Approved</label>
        </rules>
        <rules>
            <name>Fattura_Invoiced_in_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Item.Billing_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice in progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fattura_Fase_4</targetReference>
            </connector>
            <label>Fattura - Invoiced in progress</label>
        </rules>
    </decisions>
    <formulas>
        <name>Data120FineMese</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c}+120 ) = 12, 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c}+120 ), 12, 31 ), 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c}+120 ), MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c}+120 ) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>Data30FineMese</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c}+30 ) = 12, 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c}+30 ), 12, 31 ), 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c}+30 ), MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c}+30 ) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>Data45FineMese</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c}+45 ) = 12, 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c}+45 ), 12, 31 ), 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c}+45 ), MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c}+45 ) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>Data60FineMese</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c}+60 ) = 12, 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c}+60 ), 12, 31 ), 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c}+60 ), MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c}+60 ) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>Data90FineMese</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c}+90 ) = 12, 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c}+90 ), 12, 31 ), 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c}+90 ), MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c}+90 ) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>DataScadenza</name>
        <dataType>Date</dataType>
        <expression>IF( OR( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;045DF&apos;, text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;045DF-EN&apos; ) , {!Ottieni_Billing_Item.Billing_expected_date__c}+45, 
IF( OR( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;000DFFM&apos;, text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;000DINR&apos; ) , {!UltimoGiornoDelMese}, 
IF( OR( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;030DF-IT&apos;, text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;030DF-EN&apos; ) ,{!Ottieni_Billing_Item.Billing_expected_date__c}+30,
IF( OR( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;030DFFM&apos;, text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;030FM-EN&apos; ) ,{!Data30FineMese},
IF( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;075&apos;, {!Ottieni_Billing_Item.Billing_expected_date__c}+75,
IF( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;045FDDF-EN&apos;, {!Data45FineMese},
IF( OR( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;060DF&apos;, text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;060DF-EN&apos; ) ,{!Ottieni_Billing_Item.Billing_expected_date__c}+60,
IF( OR( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;060DFFM&apos;, text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;060DFFM-EN&apos; ), {!Data60FineMese},
IF( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;090df&apos;, {!Ottieni_Billing_Item.Billing_expected_date__c}+90,
IF( OR( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;090DFFM&apos;, text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;090FM-EN&apos; ) ,{!Data90FineMese},
IF( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;120DFFM&apos;, {!Data120FineMese},
IF( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;270DFFM&apos;, {!Ottieni_Billing_Item.Billing_expected_date__c}+270,
IF( OR( text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;15 GG DATA FATTURA&apos;, text( {!Ottieni_Billing_Item.Payment_terms__c} ) == &apos;15 DAYS INVOICE DATE​&apos; ),  {!Ottieni_Billing_Item.Billing_expected_date__c}+15,
{!Ottieni_Billing_Item.Billing_expected_date__c} )))))))))))))</expression>
    </formulas>
    <formulas>
        <name>DescrizioneSpeseTrasferta</name>
        <dataType>String</dataType>
        <expression>IF( {!Ottieni_Billing_Item.Out_of_pocket_amount__c} &gt; 0 &amp;&amp; ISBLANK({!Ottieni_Billing_Item.Out_of_pocket_desc__c}), &quot;Spese di trasferta&quot;, {!Ottieni_Billing_Item.Out_of_pocket_desc__c})</expression>
    </formulas>
    <formulas>
        <name>NomeProfilo</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>NumeroBozza</name>
        <dataType>String</dataType>
        <expression>RIGHT( {!EsitoInvioFattura}, LEN( {!EsitoInvioFattura} ) - FIND(&quot;:&quot;, {!EsitoInvioFattura}))</expression>
    </formulas>
    <formulas>
        <name>OggiMeno10gg</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 10</expression>
    </formulas>
    <formulas>
        <name>SpeseTrasporto</name>
        <dataType>Currency</dataType>
        <expression>IF( ISBLANK({!Ottieni_Billing_Item.Out_of_pocket_amount__c}), 0, {!Ottieni_Billing_Item.Out_of_pocket_amount__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TrProjectIdCorretto</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Ottieni_Billing_Item.TR_opportunity__c}, &quot;^[A-Z]{3}_[0-9]{3}_[0-9]{2}$&quot;)</expression>
    </formulas>
    <formulas>
        <name>UltimoGiornoDelMese</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c} ) = 12, 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c} ), 12, 31 ), 
DATE( YEAR( {!Ottieni_Billing_Item.Billing_expected_date__c} ), MONTH( {!Ottieni_Billing_Item.Billing_expected_date__c} ) + 1, 1) - 1)</expression>
    </formulas>
    <interviewLabel>Fattura - Modifica Stato Billing Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fattura - Modifica Stato Billing Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Ottieni_Billing_Item</name>
        <label>Ottieni Billing Item</label>
        <locationX>2607</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_Tecnical_Status_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ottieni_Figli_di_Billing_With</name>
        <label>Ottieni Figli di Billing With</label>
        <locationX>2294</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tecnical_Status_Billing_Figli_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bill_with__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ottieni_Billing_Item.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Codice_Iva_Billing_Date</name>
        <label>Aggiorna Codice Iva/Billing Date</label>
        <locationX>3020</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Fase_3_1_Controllo_criteri_di_accesso</targetReference>
        </connector>
        <inputReference>Ottieni_Billing_Item</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Fattura</name>
        <label>Aggiorna Fattura</label>
        <locationX>2607</locationX>
        <locationY>3806</locationY>
        <connector>
            <targetReference>Fattura_Conferma_Modifica_Fase</targetReference>
        </connector>
        <inputReference>Ottieni_Billing_Item</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Stato_Billing_Figli</name>
        <label>Aggiorna Stato Billing Figli</label>
        <locationX>2294</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Tecnical_Status_Billing_Figli_false</targetReference>
        </connector>
        <inputReference>Set_Billing_Item_Figli</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Stato_Billing_Figli_false</name>
        <label>Aggiorna Stato Billing Figli = false</label>
        <locationX>2294</locationX>
        <locationY>3194</locationY>
        <connector>
            <targetReference>Aggiorna_Fattura</targetReference>
        </connector>
        <inputReference>Tecnical_Status_Billing_Figli_false</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Tecnical_Status_Billing_Figli_true</name>
        <label>Aggiorna Tecnical Status Billing Figli = true</label>
        <locationX>2294</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Set_Billing_Item_Figli</targetReference>
        </connector>
        <inputReference>Tecnical_Status_Billing_Figli_true</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Tecnical_Status_false</name>
        <label>Aggiorna Tecnical Status = false</label>
        <locationX>2607</locationX>
        <locationY>4022</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tecnical_Status__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Billing_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Tecnical_Status_true</name>
        <label>Aggiorna Tecnical Status = true</label>
        <locationX>2607</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Fattura_Da_fase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tecnical_Status__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Billing_Item__c</object>
    </recordUpdates>
    <screens>
        <name>Bozza_Gia_Invita</name>
        <label>Bozza Gia Invita</label>
        <locationX>1898</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Invoice_To_TIC</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(234, 1, 1);&quot;&gt;ATTENZIONE&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>messaggio_bozza_gia_inviata</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Il billing items selezionato risulta già inviato come bozza al sistema TIC.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Procedendo verrà emessa una nuova bozza.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Sicuri di voler procedere?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errore_Fase_2</name>
        <label>Errore Fase #2</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Attenzione</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(247, 10, 10);&quot;&gt;ATTENZIONE﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Il billing item per poter essere approvato deve rispettare i seguenti requisiti:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TestoBillingInfo</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Dati di fatturazione mancanti, controllare che i campi &lt;strong&gt;&lt;u&gt;Ragione Sociale, Partita Iva, Codice SDI&lt;/u&gt; &lt;/strong&gt;siano compilati nel Bill to&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Bill_to__r.VAT_number__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Bill_to__r.Company_name__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Bill_to__r.Codice_SDI__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MancanzaPaesedifatturazione</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Compilare il &lt;strong&gt;&lt;u&gt;Paese di fatturazione&lt;/u&gt;&lt;/strong&gt; nel Bill to&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Bill_to__r.BillingCountry</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MancanzaTerminidipagamento</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Compilare i &lt;strong&gt;&lt;u&gt;Termini di pagamento&lt;/u&gt;&lt;/strong&gt; nel Billing item&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Payment_terms__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MancanzaTRproject</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Compilare il campo &lt;strong&gt;&lt;u&gt;TR Project ID &lt;/u&gt;&lt;/strong&gt;nel Billing Item&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.TR_opportunity__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TestoExpectedDate</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;La data dell&apos;&lt;strong&gt;&lt;u&gt;Expected date&lt;/u&gt;&lt;/strong&gt; non può essere precedente a 10 giorni fa&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Billing_expected_date__c</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>OggiMeno10gg</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TestoBillingPlanStatus</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Il &lt;strong&gt;&lt;u&gt;Billing plan status&lt;/u&gt;&lt;/strong&gt; deve essere completato&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Opportunity__r.Billin_Plan_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Open</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TestoBillingYear</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Compilare il campo &lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Accrual Year&lt;/u&gt;&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Accrual_Year__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approve_validation_billto_NEW_1</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Non si può approvare un billing item se il contractor non è &apos;Aeonvis&apos; e il &apos;Bill to&apos; non è lo stesso del contractor&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Opportunity__r.Partner__r.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Aeonvis</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Bill_to__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Ottieni_Billing_Item.Opportunity__r.Partner__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approve_validation_billto_NEW_2</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Non si può approvare un billing item se il bill to è vuoto o non è legato all&apos;account commerciale&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Opportunity__r.Partner__r.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Aeonvis</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Bill_to__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Bill_to__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Ottieni_Billing_Item.Account__c</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ottieni_Billing_Item.Bill_to__r.ParentId</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Ottieni_Billing_Item.Account__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errore_Fase_3_1</name>
        <label>Errore Fase 3.1</label>
        <locationX>3482</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Attenzione3_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(247, 10, 10);&quot;&gt;ATTENZIONE﻿﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copia_1_di_TestoNoAmministrazione</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Non puoi cambiare lo stato del billing item in &lt;/span&gt;&lt;strong style=&quot;color: rgb(215, 120, 5); font-size: 14px;&quot;&gt;&lt;u&gt;Invoiced in progress&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, solo un utente con profilo &lt;/span&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Amministrazione&lt;/u&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; o &lt;/span&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Amministratore del sistema&lt;/u&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; può procedere alla modifica.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>NomeProfilo</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Amministrazione</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NomeProfilo</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Amministratore del sistema</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NomeProfilo</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errore_Fase_3_2</name>
        <label>Errore Fase 3.2</label>
        <locationX>2954</locationX>
        <locationY>2438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copia_1_di_Attenzione3_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(247, 10, 10);&quot;&gt;ATTENZIONE﻿﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copia_1_di_Copia_1_di_TestoNoAmministrazione</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Non puoi cambiare lo stato del billing item in &lt;/span&gt;&lt;strong style=&quot;color: rgb(215, 120, 5); font-size: 14px;&quot;&gt;&lt;u&gt;Invoiced in progress&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, solo un utente con profilo &lt;/span&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Amministrazione&lt;/u&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; o &lt;/span&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Amministratore del sistema&lt;/u&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; può procedere alla modifica.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fattura_Conferma_Modifica_Fase</name>
        <label>Fattura Conferma Modifica Fase</label>
        <locationX>2607</locationX>
        <locationY>3914</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Aggiorna_Tecnical_Status_false</targetReference>
        </connector>
        <fields>
            <name>TestoFase2successo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(2, 179, 46); font-size: 14px;&quot;&gt;Cambio di fase avvenuta con successo!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fattura_Fase_2</name>
        <label>Fattura - Fase #2</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Controllo_criteri_di_accesso</targetReference>
        </connector>
        <fields>
            <name>TestoFatturaFase2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Il billing item sta per essere approvato:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Totale importo &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Ottieni_Billing_Item.Billing_item_total__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; € di cui spese di trasferta &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!SpeseTrasporto} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;€,&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Billing date: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Ottieni_Billing_Item.Billing_expected_date__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fattura_Fase_3</name>
        <label>Fattura - Fase #3</label>
        <locationX>3020</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Calcolo_data_scadenza</targetReference>
        </connector>
        <fields>
            <name>TestoInvioTIC</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Il billing item sta per essere inviato a TIC creando una Fattura in Bozza. Se i dati sono già stati verificati e sono corretti allora procedi altrimenti annulla.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fattura_Fase_3_2</name>
        <label>Fattura - Fase #3.2</label>
        <locationX>2690</locationX>
        <locationY>2438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_status_Fattura_Fase_3_2</targetReference>
        </connector>
        <fields>
            <name>Copia_1_di_TestoFattura_Fase_4_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Il billing item sta per essere spostato in &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(215, 120, 5);&quot;&gt;&lt;u&gt;Invoice in progress&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. Il successivo passaggio in &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(215, 120, 5);&quot;&gt;&lt;u&gt;Invoiced&lt;/u&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;dovrà essere fatto manualmente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fattura_Fase_4</name>
        <label>Fattura - Fase #4</label>
        <locationX>4142</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fase_4_2_Controllo_criteri_di_accesso</targetReference>
        </connector>
        <fields>
            <name>TestoFase4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Il billing item sta per essere spostato in &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 120, 5); font-size: 14px;&quot;&gt;&lt;u&gt;Invoiced&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;. &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Se si vuole procedere manualmente andare avanti altrimenti attendere l&apos;aggiornamento automatico notturno.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fattura_Fase_4_2</name>
        <label>Fattura - Fase #4.2</label>
        <locationX>4010</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_status_Fattura_Fase_4_2</targetReference>
        </connector>
        <fields>
            <name>TestoFattura_Fase_4_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Inserire i seguenti dati: &lt;/span&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;billing date&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;, &lt;/span&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;billing due date&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; e &lt;/span&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;billing number&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_date_Fase_4_2</name>
            <dataType>Date</dataType>
            <fieldText>Billing date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_due_date_Fase_4_2</name>
            <dataType>Date</dataType>
            <fieldText>Billing due date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_number_Fase_4_2</name>
            <dataType>String</dataType>
            <fieldText>Billing number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fattura_Fase_5</name>
        <label>Fattura - Fase #5</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assegna_variabili</targetReference>
        </connector>
        <fields>
            <name>TestoFatturaFase5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Il billing item sta per essere spostato in &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(215, 120, 5);&quot;&gt;&lt;u&gt;Not to be invoiced&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;﻿&lt;/u&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Sei sicuro di voler procedere?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fattura_gia_Elaborata</name>
        <label>Fattura gia Elaborata</label>
        <locationX>2162</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fattura_Gia_inviata</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Per il billing Items selezionato è stata già emessa la fattura &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Ottieni_Billing_Item.TIC_invoice_no__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Non è possibile inviare di nuovo a TIC.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fattura_No_Amministrazione</name>
        <label>Fattura - No Amministrazione</label>
        <locationX>4274</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TestoNoAmministrazione</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(247, 10, 10);&quot;&gt;ATTENZIONE﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Non puoi cambiare lo stato del billing item in &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(215, 120, 5);&quot;&gt;&lt;u&gt;Invoiced&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, solo un utente con profilo &lt;/span&gt;&lt;u style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Amministratore del sistema&lt;/u&gt;&lt;span style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt; o &lt;/span&gt;&lt;u style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Amministrazione&lt;/u&gt;&lt;span style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt; può procedere alla modifica.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fattura_Scelta_Fase</name>
        <label>Fattura - Scelta Fase</label>
        <locationX>677</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Controllo_Fase_Successiva</targetReference>
        </connector>
        <fields>
            <name>AzioneDaSvolgere</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;In quale fase vuoi spostare il Billing Item?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fase</name>
            <choiceReferences>Nottobeinvoiced</choiceReferences>
            <choiceReferences>Approved</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Ottieni_Billing_Item.Billing_status__c</elementReference>
            </defaultValue>
            <fieldText>Fase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fattura_Scelta_Fase_da_Approved</name>
        <label>Fattura - Scelta Fase da Approved</label>
        <locationX>2558</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Controllo_Fase_Successiva</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_AzioneDaSvolgere</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;In quale fase vuoi spostare il Billing Item?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Fase</name>
            <choiceReferences>Tobeapproved</choiceReferences>
            <choiceReferences>Invoiceinprogress</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Ottieni_Billing_Item.Billing_status__c</elementReference>
            </defaultValue>
            <fieldText>Fase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invio_Bozza</name>
        <label>Invio Bozza</label>
        <locationX>2426</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Invoice_To_TIC</targetReference>
        </connector>
        <fields>
            <name>Conferma_Invio</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informazione&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>messaggio_invio_bozza</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Si sta inviando il billing item selezionato al sistema TIC come bozza.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Confermi l&apos;invio?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Messaggio_Bill_Accorpato</name>
        <label>Messaggio Bill Accorpato</label>
        <locationX>1634</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>visualizzabillitemaccorpato</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Il billing Items selezionato non puo essere inviato in quanto è legato a &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Ottieni_Billing_Item.Bill_with__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Inviare il billing item sopra elencato&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Messaggio_di_Errore</name>
        <label>Messaggio di Errore</label>
        <locationX>3218</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErroreCampiAssenti</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(176, 7, 7); font-size: 14px;&quot;&gt;Non è possibile eseguire questa operazione perchè Billing Date o Data Scadenza non sono compilati.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Messaggio_Errore_Territorio</name>
        <label>Messaggio Errore Territorio</label>
        <locationX>3482</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TestoErrTerritorio</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(173, 7, 7); font-size: 14px;&quot;&gt;Attenzione! Il campo TERRITORY sull&apos;Account del Cliente non è valorizzato.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Messaggio_Errore_TR_Project_ID</name>
        <label>Messaggio Errore TR Project ID</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TRProjectErrato</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 0, 0); font-size: 20px;&quot;&gt;Attenzione! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Il TR Project ID risulta compilato in modo errato. Verifica che il testo inserito rispetti la seguente composizione:&lt;strong&gt; 3 lettere maiuscole, una _ , 3 numeri, una _ e 2 numeri.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Ad esempio dovrebbe essere compilato in questo modo: &lt;strong&gt;SEI_001_00&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nessuna_Fase</name>
        <label>Nessuna Fase</label>
        <locationX>4538</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TestoNessunaFase</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(247, 10, 10); font-size: 20px;&quot;&gt;ATTENZIONE&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Il billing item è in &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;&lt;u&gt;{!Ottieni_Billing_Item.Billing_status__c}&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;, non è possibile spostarlo in nessuna delle altre fasi.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2481</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ottieni_Billing_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EsitoInvioFattura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
