src/flows/Send_Invoice_To_TIC.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Invoice_To_TIC</name>
        <label>Send Invoice To TIC</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <actionName>TICApi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Esito_Send_Invoice</targetReference>
        </connector>
        <inputParameters>
            <name>mtdBillingItemId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>EsitoInvioFattura</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assegna_Nuovi_Valori_Billing_Item</name>
        <label>Assegna Nuovi Valori Billing Item</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Items.Da_Approvare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Billing_Items.Billing_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approva_Billing_Item</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approva</name>
        <choiceText>Approvare il Billing Item</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>InviareATIC</name>
        <choiceText>Inviare il Billing Item a TIC</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Controllo se il billing item è gia legato ad un&apos;altro billing accorpato</description>
        <name>Check_billing_figlio</name>
        <label>Check billing figlio</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Decisione_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Billing_accorpato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Items.Bill_with__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Messaggio_Bill_Accorpatp</targetReference>
            </connector>
            <label>Billing accorpato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Presenza_Campi_Obbligatori</name>
        <label>Controllo Presenza Campi Obbligatori</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Messaggio_di_Errore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Non Corretto</defaultConnectorLabel>
        <rules>
            <name>Record_Coerente</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Items.Data_scadenza__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Items.Billing_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_billing_figlio</targetReference>
            </connector>
            <label>Record Coerente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisione_1</name>
        <label>Decisione 1</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Invio_Bozza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bozza Da inviare</defaultConnectorLabel>
        <rules>
            <name>Bozza_Gia_Inviata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Items.TIC_draft_no__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Items.TIC_invoice_no__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bozza_Gia_Invita</targetReference>
            </connector>
            <label>Bozza Gia Inviata</label>
        </rules>
        <rules>
            <name>Fattura_gia_processata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Billing_Items.TIC_invoice_no__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Billing_Items.TIC_draft_no__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fattura_gia_Elaborata</targetReference>
            </connector>
            <label>Fattura gia processata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisione_Pulsante</name>
        <label>Decisione Pulsante</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Controllo_Presenza_Campi_Obbligatori</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inviare a TIC</defaultConnectorLabel>
        <rules>
            <name>Approvare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approva</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Nuovi_Valori_Billing_Item</targetReference>
            </connector>
            <label>Approvare</label>
        </rules>
    </decisions>
    <description>Invio della fattura al sistema di gestione fatturazione TIC</description>
    <interviewLabel>Send Invoice To TIC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Invoice To TIC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieve dell&apos;id del billing item</description>
        <name>Ottieni_Billing_Items</name>
        <label>Ottieni Billing Items</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Azione_Pulsante</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Approva_Billing_Item</name>
        <label>Approva Billing Item</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputReference>Ottieni_Billing_Items</inputReference>
    </recordUpdates>
    <screens>
        <name>Azione_Pulsante</name>
        <label>Azione Pulsante</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decisione_Pulsante</targetReference>
        </connector>
        <fields>
            <name>AzioneDaSvolgere</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Quale Operazione desideri effettuare?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Azioni</name>
            <choiceReferences>Approva</choiceReferences>
            <choiceReferences>InviareATIC</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Approva</defaultSelectedChoiceReference>
            <fieldText>Azioni</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Bozza già inviata</description>
        <name>Bozza_Gia_Invita</name>
        <label>Bozza Gia Invita</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Invoice_To_TIC</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Attenzione&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>messaggio_bozza_gia_inviata</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Il billing items selezionato risulta già inviato come bozza al sistema TIC.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Procedendo verrà emessa una nuova bozza.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Sicuri di voler procedere?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Esito_Send_Invoice</name>
        <label>Esito Send Invoice</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_Send_Invoice</name>
            <fieldText>&lt;p&gt;Result send invoice to TIC:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!EsitoInvioFattura}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fattura_gia_Elaborata</name>
        <label>Fattura gia Elaborata</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fattura_Gia_inviata</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Per il billing Items selezionato è stata già emessa la fattura &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Ottieni_Billing_Items.TIC_invoice_no__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Non è possibile inviare di nuovo a TIC.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invio_Bozza</name>
        <label>Invio Bozza</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Invoice_To_TIC</targetReference>
        </connector>
        <fields>
            <name>Conferma_Invio</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Informazione&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>messaggio_invio_bozza</name>
            <fieldText>&lt;p&gt;Si sta inviando il billing item selezionato al sistema TIC come bozza.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Confermi l&apos;invio?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Messaggio_Bill_Accorpatp</name>
        <label>Messaggio Bill Accorpatp</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>visualizzabillitemaccorpato</name>
            <fieldText>&lt;p&gt;Il billing Items selezionato non puo essere inviato in quanto è legato a &lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Ottieni_Billing_Items.Bill_with__r.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Inviare il billing item sopra elencato&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Messaggio_di_Errore</name>
        <label>Messaggio di Errore</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErroreCampiAssenti</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(176, 7, 7);&quot;&gt;Non è possibile eseguire questa operazione perchè Billing Date o Data Scadenza non sono compilati.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ottieni_Billing_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EsitoInvioFattura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
