src/flows/Validit_Partita_IVA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetCompanyInfo</name>
        <label>GetCompanyInfo</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <actionName>OpenApi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>controllo_se_esiste_PIVA</targetReference>
        </connector>
        <inputParameters>
            <name>mtdAccountID_PIVA</name>
            <value>
                <elementReference>VarCallApex</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assegna_PIVA_e_Codice_IVA_ExUE</name>
        <label>Assegna PIVA e Codice IVA ExUE</label>
        <locationX>2954</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.VAT_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IvaNonUE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.VAT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N020202</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.Company_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RagioneSocialeExUe</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Account_Non_UE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Valori_Account_Inserimento_Manuale</name>
        <label>Assegna Valori Account Inserimento Manuale</label>
        <locationX>2162</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.Company_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ragione_Sociale_Da_Inserire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.Fiscal_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Fiscale_Da_Inserire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.VAT_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>P_IVA_Da_Inserire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.Codice_SDI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SDI_Da_Inserire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.PEC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pec_Da_Inserire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.VAT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>22</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Account_con_Valori_Inseriti_Manualmente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegnazione_PIVA_e_Codice_Account_UE</name>
        <label>Assegnazione PIVA e Codice Account UE</label>
        <locationX>2690</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.VAT_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partita_IVA_UE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.VAT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N060201</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.Company_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ragione_Sociale_UE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_PIVA_e_Codice_PIVA_Account_UE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegnazione_Response</name>
        <label>Assegnazione Response</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.Company_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyInfo.companyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.Codice_SDI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyInfo.sdiCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.VAT_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyInfo.vatCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.BillingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyInfo.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyInfo.streetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyInfo.town</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyInfo.zipCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.VAT_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>22</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.PEC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyInfo.pec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ottieni_Record_di_Attivazione.Fiscal_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCompanyInfo.taxCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Service_Result_API</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ValorizzaVariabileApex</name>
        <label>ValorizzaVariabileApex</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarCallApex</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ottieni_Record_di_Attivazione.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCallApex</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partita_Iva_API</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCompanyInfo</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NO</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NonProcedere</name>
        <choiceText>Non Procedere</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NonProcedereAlServizio</name>
        <choiceText>NO (Digitazione Manuale)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Procedere</name>
        <choiceText>Procedere</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ProcediAlServizio</name>
        <choiceText>SI (Chiamata al Servizio)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SI</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Controllo_Lunghezza_IVA_API</name>
        <label>Controllo Lunghezza IVA API</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>ValorizzaVariabileApex</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lunghezza 11</defaultConnectorLabel>
        <rules>
            <name>Lunghezza_Errata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lunghezza_Iva_API</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lunghezza_IVA_API_Errata</targetReference>
            </connector>
            <label>Lunghezza Errata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Lunghezza_P_IVA</name>
        <label>Controllo Lunghezza P. IVA</label>
        <locationX>1832</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Controllo_Lunghezza_SDI_Inserito</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lunghezza Corretta (11)</defaultConnectorLabel>
        <rules>
            <name>Lunghezza_non_Idonea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LunghezzaPIVAInserita</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorePIVAInserita</targetReference>
            </connector>
            <label>Lunghezza non Idonea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Lunghezza_SDI_Inserito</name>
        <label>Controllo Lunghezza SDI Inserito</label>
        <locationX>2030</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Assegna_Valori_Account_Inserimento_Manuale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lunghezza Corretta</defaultConnectorLabel>
        <rules>
            <name>Non_Uguale_a_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LunghezzaSDI</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessaggioSDIErrato</targetReference>
            </connector>
            <label>Non Uguale a 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Origine_Account</name>
        <label>Controllo Origine Account</label>
        <locationX>2574</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Esito Predefinito</defaultConnectorLabel>
        <rules>
            <name>Origine_Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Record_di_Attivazione.BillingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Controllo_Paese_di_Fatturazione</targetReference>
            </connector>
            <label>Origine Presente</label>
        </rules>
        <rules>
            <name>Assente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Record_di_Attivazione.BillingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nessun_Paese</targetReference>
            </connector>
            <label>Assente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Paese_di_Fatturazione</name>
        <label>Controllo Paese di Fatturazione</label>
        <locationX>1667</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>PIVAExUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non UE</defaultConnectorLabel>
        <rules>
            <name>IT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Record_di_Attivazione.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Record_di_Attivazione.Fa_Parte_dell_Unione_Europea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Lunghezza_IVA_API</targetReference>
            </connector>
            <label>IT</label>
        </rules>
        <rules>
            <name>UE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ottieni_Record_di_Attivazione.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estero​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ottieni_Record_di_Attivazione.Fa_Parte_dell_Unione_Europea__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InserimentoPIVAUE</targetReference>
            </connector>
            <label>UE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_PIVA</name>
        <label>Controllo PIVA</label>
        <locationX>1601</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Controllo_Lunghezza_P_IVA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Lettere_Presenti_Inserite</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CheckPresenzaLettereInseriteMaiuscole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckPresenzaLettereInseriteMinuscole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorePIVAInseritaLettere</targetReference>
            </connector>
            <label>Lettere Presenti</label>
        </rules>
    </decisions>
    <decisions>
        <name>Controllo_Presenza_Lettere</name>
        <label>Controllo Presenza Lettere</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Controllo_Lunghezza_IVA_API</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lettere Assenti</defaultConnectorLabel>
        <rules>
            <name>Lettere_Presenti</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CheckPresenzaLettereMinuscole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckPresenzaLettereMaiuscole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Presenza_Lettere</targetReference>
            </connector>
            <label>Lettere Presenti</label>
        </rules>
    </decisions>
    <decisions>
        <name>controllo_se_esiste_PIVA</name>
        <label>controllo se esiste PIVA</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>ResponseCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Esiste PIVA</defaultConnectorLabel>
        <rules>
            <name>Esiste_PIVA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCompanyInfo.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegnazione_Response</targetReference>
            </connector>
            <label>Esiste PIVA</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResponseCode</name>
        <label>ResponseCode</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Code_400</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCompanyInfo.RespStatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VatCode_Required</targetReference>
            </connector>
            <label>Code 400</label>
        </rules>
        <rules>
            <name>Code_402</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCompanyInfo.RespStatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>402.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credi_Non_Sufficente</targetReference>
            </connector>
            <label>Code 402</label>
        </rules>
        <rules>
            <name>Code_406</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCompanyInfo.RespStatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>406.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PIVA_API</targetReference>
            </connector>
            <label>Code 406</label>
        </rules>
    </decisions>
    <description>Aggiunto Check PIVA + controllo se sandbox + abilita\disabilita update account + messa a video PIVA da modificare\inserire + pec + cod. fiscale</description>
    <formulas>
        <name>CheckPresenzaLettereInseriteMaiuscole</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!P_IVA_Da_Inserire},  &apos;A&apos;) || CONTAINS({!P_IVA_Da_Inserire},  &apos;B&apos;) || CONTAINS({!P_IVA_Da_Inserire},  &apos;C&apos;) || CONTAINS({!P_IVA_Da_Inserire},  &apos;D&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;E&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;F&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;G&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;H&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;I&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;L&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;M&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;N&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;O&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;P&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;Q&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;R&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;S&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;T&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;U&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;V&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;Z&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;K&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;J&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;Y&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;X&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;W&apos;)</expression>
    </formulas>
    <formulas>
        <name>CheckPresenzaLettereInseriteMinuscole</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!P_IVA_Da_Inserire},  &apos;a&apos;) || CONTAINS({!P_IVA_Da_Inserire},  &apos;b&apos;) || CONTAINS({!P_IVA_Da_Inserire},  &apos;c&apos;) || CONTAINS({!P_IVA_Da_Inserire},  &apos;d&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;e&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;f&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;g&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;h&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;i&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;l&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;m&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;n&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;o&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;p&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;q&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;r&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;s&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;t&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;u&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;v&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;z&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;k&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;j&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;y&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;x&apos;) ||CONTAINS({!P_IVA_Da_Inserire},  &apos;w&apos;)</expression>
    </formulas>
    <formulas>
        <name>CheckPresenzaLettereMaiuscole</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Partita_Iva_API},  &apos;A&apos;) || CONTAINS({!Partita_Iva_API},  &apos;B&apos;) || CONTAINS({!Partita_Iva_API},  &apos;C&apos;) || CONTAINS({!Partita_Iva_API},  &apos;D&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;E&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;F&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;G&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;H&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;I&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;L&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;M&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;N&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;O&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;P&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;Q&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;R&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;S&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;T&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;U&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;V&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;Z&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;K&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;J&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;Y&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;X&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;W&apos;)</expression>
    </formulas>
    <formulas>
        <name>CheckPresenzaLettereMinuscole</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Partita_Iva_API},  &apos;a&apos;) || CONTAINS({!Partita_Iva_API},  &apos;b&apos;) || CONTAINS({!Partita_Iva_API},  &apos;c&apos;) || CONTAINS({!Partita_Iva_API},  &apos;d&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;e&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;f&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;g&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;h&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;i&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;l&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;m&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;n&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;o&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;p&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;q&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;r&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;s&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;t&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;u&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;v&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;z&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;k&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;j&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;y&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;x&apos;) ||CONTAINS({!Partita_Iva_API},  &apos;w&apos;)</expression>
    </formulas>
    <formulas>
        <name>CheckSDIInseritoMaiuscole</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!SDI_Da_Inserire},  &apos;A&apos;) || CONTAINS({!SDI_Da_Inserire},  &apos;B&apos;) || CONTAINS({!SDI_Da_Inserire},  &apos;C&apos;) || CONTAINS({!SDI_Da_Inserire},  &apos;D&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;E&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;F&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;G&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;H&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;I&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;L&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;M&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;N&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;O&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;P&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;Q&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;R&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;S&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;T&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;U&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;V&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;Z&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;K&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;J&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;Y&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;X&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;W&apos;)</expression>
    </formulas>
    <formulas>
        <name>CheckSDIInseritoMinuscole</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!SDI_Da_Inserire},  &apos;a&apos;) || CONTAINS({!SDI_Da_Inserire},  &apos;b&apos;) || CONTAINS({!SDI_Da_Inserire},  &apos;c&apos;) || CONTAINS({!SDI_Da_Inserire},  &apos;d&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;e&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;f&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;g&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;h&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;i&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;l&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;m&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;n&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;o&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;p&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;q&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;r&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;s&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;t&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;u&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;v&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;z&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;k&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;j&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;y&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;x&apos;) ||CONTAINS({!SDI_Da_Inserire},  &apos;w&apos;)</expression>
    </formulas>
    <formulas>
        <name>IvaNonUE</name>
        <dataType>String</dataType>
        <expression>TEXT({!Ottieni_Record_di_Attivazione.BillingCountryCode})+{!RagioneSocialeExUe}</expression>
    </formulas>
    <formulas>
        <name>IvaPredefinito</name>
        <dataType>String</dataType>
        <expression>{!Ottieni_Record_di_Attivazione.VAT_number__c}</expression>
    </formulas>
    <formulas>
        <name>Lunghezza_Iva_API</name>
        <dataType>Number</dataType>
        <expression>LEN({!Partita_Iva_API})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LunghezzaPIVA</name>
        <dataType>Number</dataType>
        <expression>LEN({!Ottieni_Record_di_Attivazione.VAT_number__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LunghezzaPIVAInserita</name>
        <dataType>Number</dataType>
        <expression>LEN({!P_IVA_Da_Inserire})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LunghezzaSDI</name>
        <dataType>Number</dataType>
        <expression>LEN({!SDI_Da_Inserire})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RagionePredefinita</name>
        <dataType>String</dataType>
        <expression>IF({!Ottieni_Record_di_Attivazione.Company_name__c} != &apos;&apos;, {!Ottieni_Record_di_Attivazione.Company_name__c}, {!Ottieni_Record_di_Attivazione.Name})</expression>
    </formulas>
    <interviewLabel>Validità Partita IVA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validità Partita IVA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Ottieni_Record_di_Attivazione</name>
        <label>Ottieni Record di Attivazione</label>
        <locationX>2574</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Controllo_Origine_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Account_con_Valori_Inseriti_Manualmente</name>
        <label>Aggiorna Account con Valori Inseriti Manualmente</label>
        <locationX>2162</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Record_Aggiornato</targetReference>
        </connector>
        <inputReference>Ottieni_Record_di_Attivazione</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Account_Non_UE</name>
        <label>Aggiorna Account Non UE</label>
        <locationX>2954</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Record_Aggiornato</targetReference>
        </connector>
        <inputReference>Ottieni_Record_di_Attivazione</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_PIVA_e_Codice_PIVA_Account_UE</name>
        <label>Aggiorna PIVA e Codice PIVA Account UE</label>
        <locationX>2690</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Record_Aggiornato</targetReference>
        </connector>
        <inputReference>Ottieni_Record_di_Attivazione</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaAccount</name>
        <label>AggiornaAccount</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Record_Aggiornato</targetReference>
        </connector>
        <inputReference>Ottieni_Record_di_Attivazione</inputReference>
    </recordUpdates>
    <screens>
        <name>Check_Lunghezza_IVA_API</name>
        <label>Check Lunghezza IVA API</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Controllo_Presenza_Lettere</targetReference>
        </connector>
        <fields>
            <name>Modica_Inserisci_Iva</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Modifica o confermare la PIVA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_Lunghezza_IVA_API_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Check_Lunghezza_IVA_API_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Codice_Paese_IT_Da_Visualizzare</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Ottieni_Record_di_Attivazione.BillingCountryCode</elementReference>
                    </defaultValue>
                    <fieldText>Codice Paese</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Check_Lunghezza_IVA_API_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Partita_Iva_API</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Ottieni_Record_di_Attivazione.VAT_number__c</elementReference>
                    </defaultValue>
                    <fieldText>Partita Iva</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_PIVA_API</name>
        <label>Check_PIVA_API</label>
        <locationX>1601</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Inserimento_Manuale_Valori_IVA</targetReference>
        </connector>
        <fields>
            <name>Copia_1_di_Copia_1_di_Messagge_PIVA_Required</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(32, 33, 36); font-family: arial, sans-serif; font-size: 14px; background-color: rgb(248, 249, 250);&quot;&gt;La PIVA inserita non esiste.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Controllo_Record_PIVA_non_UE</name>
        <label>Controllo Record PIVA non UE</label>
        <locationX>2954</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_PIVA_e_Codice_IVA_ExUE</targetReference>
        </connector>
        <fields>
            <name>Riepilogo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Di seguito i campi che verranno aggiornati:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Controllo_Record_PIVA_non_UE_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Controllo_Record_PIVA_non_UE_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewRagioneSociale</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Ragione Sociale:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!RagioneSocialeExUe}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PartitaIvaNonEuropeaAggiornata</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Partita IVA:   &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!IvaNonUE}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Controllo_Record_PIVA_non_UE_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>codiceIvaNonUE</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Codice IVA: &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;0% (NO UE)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Controllo_Record_PIVA_UE</name>
        <label>Controllo Record PIVA UE</label>
        <locationX>2690</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegnazione_PIVA_e_Codice_Account_UE</targetReference>
        </connector>
        <fields>
            <name>ControlloRecordUE</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Di seguito i campi che verranno aggiornati:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Controllo_Record_PIVA_UE_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Controllo_Record_PIVA_UE_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RagioneSocialeUE</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Ragione Sociale: &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Ragione_Sociale_UE}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Controllo_Record_PIVA_UE_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ValoreRagioneSocialeUE</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Codice IVA: &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;0% (UE)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Controllo_Record_PIVA_UE_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Controllo_Record_PIVA_UE_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StateCodeVisualizzato</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Codice Paese&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Ottieni_Record_di_Attivazione.BillingCountryCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Controllo_Record_PIVA_UE_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pivaUE</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Partita IVA:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Partita_IVA_UE}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credi_Non_Sufficente</name>
        <label>Credi Non Sufficente</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageCredit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(248, 249, 250); font-size: 14px; font-family: arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Credito non sufficiente. Si prega di ricarica il credito sul portale. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(248, 249, 250); font-size: 14px; font-family: arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Contattare l&apos;amministrazione.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorePIVAInserita</name>
        <label>ErrorePIVAInserita</label>
        <locationX>1634</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Inserimento_Manuale_Valori_IVA</targetReference>
        </connector>
        <fields>
            <name>MessaggioErroreLunghezzaPIVA</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La lunghezza della partiva IVA è diversa da 11, si prega di modificarla.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorePIVAInseritaLettere</name>
        <label>ErrorePIVAInseritaLettere</label>
        <locationX>1370</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Inserimento_Manuale_Valori_IVA</targetReference>
        </connector>
        <fields>
            <name>PIVAInseritaNonValidaMessaggio</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Non puoi inserire caratteri alfabetici nella P. IVA, si prega di modificarla.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inserimento_Manuale_Valori_IVA</name>
        <label>Inserimento Manuale Valori IVA</label>
        <locationX>1601</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Controllo_PIVA</targetReference>
        </connector>
        <fields>
            <name>TitoloInserimentoValori</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Procedi con l&apos;inserimento manuale dei valori&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserimento_Manuale_Valori_IVA_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inserimento_Manuale_Valori_IVA_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ragione_Sociale_Da_Inserire</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Ottieni_Record_di_Attivazione.Company_name__c</elementReference>
                    </defaultValue>
                    <fieldText>Ragione Sociale</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SDI_Da_Inserire</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Ottieni_Record_di_Attivazione.Codice_SDI__c</elementReference>
                    </defaultValue>
                    <fieldText>SDI</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Ricorda che lo SDI può essere composto da solo 7 numeri.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Pec_Da_Inserire</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Ottieni_Record_di_Attivazione.PEC__c</elementReference>
                    </defaultValue>
                    <fieldText>Pec</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inserimento_Manuale_Valori_IVA_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>P_IVA_Da_Inserire</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Ottieni_Record_di_Attivazione.VAT_number__c</elementReference>
                    </defaultValue>
                    <fieldText>P.IVA</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Codice_Fiscale_Da_Inserire</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Ottieni_Record_di_Attivazione.Fiscal_code__c</elementReference>
                    </defaultValue>
                    <fieldText>Codice Fiscale</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Valore_IVA_Da_Inserire</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>22%</stringValue>
                    </defaultValue>
                    <fieldText>Valore IVA</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InserimentoPIVAUE</name>
        <label>InserimentoPIVAUE</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Controllo_Record_PIVA_UE</targetReference>
        </connector>
        <fields>
            <name>TestoPIVAESociale</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Inserire i seguenti dati:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InserimentoPIVAUE_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InserimentoPIVAUE_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ragione_Sociale_UE</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>RagionePredefinita</elementReference>
                    </defaultValue>
                    <fieldText>Ragione Sociale</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InserimentoPIVAUE_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InserimentoPIVAUE_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Codice_Paese</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Ottieni_Record_di_Attivazione.BillingCountryCode</elementReference>
                    </defaultValue>
                    <fieldText>Codice Paese</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InserimentoPIVAUE_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Partita_IVA_UE</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Ottieni_Record_di_Attivazione.VAT_number__c</elementReference>
                    </defaultValue>
                    <fieldText>Partita IVA</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lunghezza_IVA_API_Errata</name>
        <label>Lunghezza IVA API Errata</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Lunghezza_IVA_API</targetReference>
        </connector>
        <fields>
            <name>message_Iva_Api_Errata</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;La lunghezza della partiva IVA è diversa da 11, si prega di modificarla.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MessaggioSDIErrato</name>
        <label>MessaggioSDIErrato</label>
        <locationX>1898</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Inserimento_Manuale_Valori_IVA</targetReference>
        </connector>
        <fields>
            <name>SDIInseitoErrato</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;La lunghezza dello SDI deve essere di 7 caratteri, si prega di modificarlo.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nessun_Paese</name>
        <label>Nessun Paese</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errore_Territorio</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(163, 10, 10);&quot;&gt;Attenzione! Il Paese di Fatturazione è assente. Provvedi a compilare l&apos;Indirizzo di Fatturazione per poter procedere con questa operazione.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PIVAExUE</name>
        <label>PIVAExUE</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Controllo_Record_PIVA_non_UE</targetReference>
        </connector>
        <fields>
            <name>PIVANonUE</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Inserire i seguenti dati:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RagioneSocialeExUe</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RagionePredefinita</elementReference>
            </defaultValue>
            <fieldText>Ragione Sociale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Presenza_Lettere</name>
        <label>Presenza Lettere</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Lunghezza_IVA_API</targetReference>
        </connector>
        <fields>
            <name>LetterePresenti</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Non puoi inserire caratteri alfabetici nella P. IVA, si prega di modificarla.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Aggiornato</name>
        <label>Record Aggiornato</label>
        <locationX>1667</locationX>
        <locationY>2642</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Messaggio_Corretto_Inserimento</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(31, 147, 67);&quot;&gt;IL RECORD È STATO CORRETTAMENTE AGGIORNATO CON LE INFORMAZIONI RICHIESTE&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Service_Result_API</name>
        <label>Show_Service_Result_API</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AggiornaAccount</targetReference>
        </connector>
        <fields>
            <name>show_result_check_API</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Risultato controllo IVA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_Service_Result_API_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Service_Result_API_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vat_Code_API_2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Ragione Sociale:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!Ottieni_Record_di_Attivazione.Company_name__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;SDI&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Ottieni_Record_di_Attivazione.Codice_SDI__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Pec: &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;﻿{!Ottieni_Record_di_Attivazione.PEC__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Service_Result_API_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>vat_Code_API</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Codice Paese&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Ottieni_Record_di_Attivazione.BillingCountryCode}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;P.IVA&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Ottieni_Record_di_Attivazione.VAT_number__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Cod. Fiscale&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Ottieni_Record_di_Attivazione.Fiscal_code__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Codice IVA: &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;22%&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Service_Result_API_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IndirizzoFatturazioneVisualizzato</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Via:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Ottieni_Record_di_Attivazione.BillingStreet}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;CAP:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Ottieni_Record_di_Attivazione.BillingPostalCode}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Città:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Ottieni_Record_di_Attivazione.BillingCity}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Paese:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Ottieni_Record_di_Attivazione.BillingCountry}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Confirm_Data_API</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(248, 249, 250); font-size: 16px; font-family: arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Procedendo verranno confermate le informazioni visualizzate. Confermi?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VatCode_Required</name>
        <label>VatCode Required</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Messagge_PIVA_Required</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(32, 33, 36); font-family: arial, sans-serif; font-size: 14px; background-color: rgb(248, 249, 250);&quot;&gt;Partita IVA necessaria per poter eseguire il check.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(32, 33, 36); font-family: arial, sans-serif; font-size: 14px; background-color: rgb(248, 249, 250);&quot;&gt;Si prega di inserirla.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2448</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ottieni_Record_di_Attivazione</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stateService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCallApex</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
